include /helpers/price-format
include /helpers/classes

include /blocks/grid/grid
include /blocks/create-element/create-element
include /blocks/scripts/scripts
include /blocks/img/img
include /blocks/page-section/page-section
include /blocks/style/style

doctype html
html(lang='ru')
  include ../head/head
  body
    include /blocks/header/header
    main: block content
    include /blocks/footer/footer
  include /blocks/call-back/call-back
  block modals
  +scripts(['script.js'])
  +style('rest')
  block bottom
