mixin modal(settings = {})
  - const tag = settings.tag || 'div'
  #{tag}(class=classes('modal', settings))&attributes(attributes)
    .modal__inner
      block
      button(type='button').modal__close
