.table-wrap
  overflow-x auto
.table
  width 100%
  &__header
    padding (basePadding/3*2) basePadding
    font-size font-s
    line-height line-s
    text-align left
    vertical-align middle
    background-color #d8ceb7
  &__cell
    padding (basePadding/3*2) basePadding
    vertical-align middle
    border-bottom 1px solid #d8ceb7
    ^[-1]__row:last-child > &
      border-bottom 1px solid #d8ceb7
    &--empty
      text-align center
      &::after
        content '—'
        font-size font-xxxl
        font-weight bold
