mixin ordersHistoryItem(item)
  .orders-history-item.par
    .orders-history-item__header
      h3.orders-history-item__title Заказ № !{item.number} от !{item.date}, !{item.count} товар на сумму !{item.sum} ₽
      .orders-history-item__info
        if item.status === 'cancelled'
          .orders-history-item__status.orders-history-item__status--cancelled Заказ отменён
        else
          .orders-history-item__status Заказ выполнен
        .orders-history-item__date-done !{item.dateDone}
    .orders-history-item__footer
      a(href='/') Подробнее о заказе
      a(href='/') Повторить заказ
