mixin searchResult(item)
  .search-result
    .search-result__name: a(href='/') !{item.name}
    .search-result__path
      each parent in item.path.parents
        .search-result__path-parent: a(href='/') !{parent}
        .search-result__path-separator
      .search-result__path-current: a(href='/') !{item.path.current}
    .search-result__body !{item.body}
