.accordion-item
  & + &
    margin-top 1rem
  display grid
  grid-template-rows min-content 0fr
  transition-property grid-template-rows
  transition-duration 0.4s
  &--active
    grid-template-rows min-content 1fr
    transition-duration 0.1s
    & ^[-1]__body
      padding-y 1rem
      transition-duration 0.1s
  &__header
    position relative
    padding-block 1rem
    padding-left 1rem
    padding-right 3rem
    background-color var(--color-bg-light)
    cursor pointer
    border-radius 0.25rem
  &__arrow
    position absolute
    top 50%
    right 1.25rem
    display block
    width 1.125rem
    height 1rem
    translate 0 -50%
    path
      stroke var(--color-bg-secondary)
  &__body
    position relative
    padding-left 1rem
    overflow hidden
    transition-property padding
    transition-duration 0.4s
