.button
.btn
  --icon-block-size 2.25rem
  --padding-y 1.25rem
  --padding-x 1.25rem
  $text-button()
  appearance none
  display block
  padding var(--padding-y) var(--padding-x)
  text-align center
  border 1px solid
  &:hover
    transition-duration .1s
  &:active
    transition-duration .1s
  &--size--m
    --padding-y .9375rem
    --padding-x .9375rem
    --icon-position-right calc(var(--padding-x) / 3 * 2)
  &--size--s
    --padding-y .625rem
    --padding-x .625rem
    --icon-block-size 1.75rem
  &--empty
    --padding-y .625rem
    --padding-x .625rem
    padding-left 0
  &--icon
    position relative
    padding-right calc(var(--padding-x) + var(--icon-block-size))
    &::after
      content ''
      position absolute
      top 50%
      right var(--icon-position-right)
      width var(--icon-block-size)
      height var(--icon-block-size)
      background-color var(--icon-bg-color)
      mask-repeat no-repeat
      mask-position center
      mask-size auto var(--icon-image-size)
      transform translateY(-50%)
