.button
.btn
  --color-bg-button var(--color-accent-primary)
  --color-bg-button-hover var(--color-accent-primary-hover)
  --color-bg-button-active var(--color-accent-primary-active)
  --color-text-button var(--color-bg-primary)
  --color-text-button-hover var(--color-text-button)
  --color-text-button-active var(--color-text-button)
  --icon-image-size 1.75rem
  --icon-bg-color var(--color-bg-primary)
  --icon-position-right calc(var(--padding-x) / 4 * 3)
  color var(--color-text-button)
  background-color var(--color-bg-button)
  border-color var(--color-accent-primary)
  border-radius .25rem
  transition color .4s, background-color .4s
  &:hover
    color var(--color-text-button-hover)
    background-color var(--color-bg-button-hover)
    transition-duration .1s
  &:active
    color var(--color-text-button-active)
    background-color var(--color-bg-button-active)
    transition-duration .1s
  a&
    text-decoration none
  &--disabled
    --color-bg-button var(--color-bg-light)
    --color-text-button var(--color-text-secondary)
    --icon-bg-color var(--color-text-secondary)
    border-color var(--color-bg-light)
    pointer-events none
  &--size--m
    --icon-position-right calc(var(--padding-x) / 3 * 2)
  &--size--s
    --icon-image-size 1.375rem
    --icon-position-right calc(var(--padding-x) / 2)
  &--secondary
    --color-bg-button var(--color-bg-light)
    --color-bg-button-hover rgba(#C429270D, .05)
    --color-bg-button-active rgba(#C429270D, .1)
    --color-text-button var(--color-text-primary)
    --icon-bg-color var(--color-accent-primary)
    border-color var(--color-bg-light)
  &--empty
    --color-bg-button var(--color-bg-primary)
    --color-bg-button-hover transparent
    --color-bg-button-active transparent
    --color-text-button var(--color-text-primary)
    --color-text-button-hover var(--color-accent-primary)
    --color-text-button-active #9B2624
    --icon-bg-color var(--color-accent-primary)
    border-color transparent
    &:hover
      --icon-bg-color var(--color-text-button-hover)
    &:active
      --icon-bg-color var(--color-text-button-active)
  &--icon
    &::after
      content ''
      position absolute
      top 50%
      right var(--icon-position-right)
      width var(--icon-block-size)
      height var(--icon-block-size)
      background-color var(--icon-bg-color)
      mask-repeat no-repeat
      mask-position center
      mask-size auto var(--icon-image-size)
      transform translateY(-50%)
    types = 'enter', 'cart', 'calculator', 'user'
    for type in types
      &--{type}::after
        mask-image unquote('url(../images/svg-sprites/button.svg#' + type + ')')
      &--user::after
        --icon-bg-color var(--color-bg-primary)
        --icon-image-size 1.125rem
      &--user::before
        content ''
        position absolute
        top 50%
        right var(--icon-position-right)
        width var(--icon-block-size)
        height var(--icon-block-size)
        background-color var(--color-accent-primary)
        border-radius 1.25rem
        transform translateY(-50%)
