.product-actions
  display grid
  align-items start
  grid-template-areas 'price counter buy calculate'
  grid-gap 1.25rem
  @media (max-width point-m - 1)
    grid-template-areas 'price calculate calculate calculate' 'counter counter buy buy'
  &:not(:first-child)
    margin-top 2.375rem
  &__price
    grid-area price
    margin-top -.375rem
    @media (max-width point-m - 1)
      margin-top 0
  &__counter
    grid-area counter
    height 3.875rem
  &__buy
    grid-area buy
  &__fast-buy
    display block
    margin-top .625rem
    font-weight 600
    text-align center
    &--disabled
      color var(--color-text-secondary)
      pointer-events none
  &__calculate
    grid-area calculate
