include /blocks/product-price/product-price
include /blocks/counter/counter

mixin productActions(settings = {})
  .product-actions&attributes(attributes)
    +productPrice(500).product-actions__price
    +counter().product-actions__counter
    .product-actions__buy
      +button({ tag: 'a', icon: [ true, 'cart' ], disabled: settings.availability === false })(href='#modal-add-to-cart' data-modal).product-actions__buy-button В корзину
      - const fastBuyClasses = classes('product-actions__fast-buy', { disabled: settings.availability === false })
      a(href='#modal-quick-buy' data-modal class= fastBuyClasses) Купить в 1 клик
    .product-actions__calculate: +button({ tag: 'a', secondary: true, icon: [ true, 'calculator' ] })(href='#modal-calculate' data-modal) Рассчитать расход
    
