mixin footerMenu(menu)
  .footer-menu&attributes(attributes)
    h3.footer-menu__title !{menu.title}
    ul.footer-menu__list.par
      each item in menu.list
        li.footer-menu__item: a(href='/') !{item}
