mixin counter(settings = {}, value = 1)
  div(class=classes('counter', settings))&attributes(attributes)
    button(type='button' data-change='dec').counter__change.counter__change--decrease
      span.visually-hidden Уменьшить
    input(type='text' readonly value= value).counter__input
    button(type='button' data-change='inc').counter__change.counter__change--increase
      span.visually-hidden Увеличить
