.counter
  display flex
  align-items center
  border 1px solid var(--color-border)
  border-radius .25rem
  &__change
    --icon-color var(--color-accent-primary)
    --icon-image ''
    position relative
    appearance none
    width 2.5rem
    height 2.5rem
    background-color var(--background-color)
    border none
    &::before
      content ''
      position absolute
      inset .625rem
      width 1.25rem
      height 1.25rem
      background-color var(--icon-color)
      mask-image var(--icon-image)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
    &:disabled
      background-color var(--color-bg-primary)
    &--decrease
      --icon-image url(../images/svg-sprites/counter.svg#minus)
    &--increase
      --icon-image url(../images/svg-sprites/counter.svg#plus)
    &--disabled
      --icon-color var(--color-text-secondary)
  &__input
    $text-button()
    flex-grow 1
    width 3.5rem
    padding .625rem
    text-align center
    border none
