.benefit
  display flex
  flex-direction column
  align-items center
  text-align center
  &::before
    content ''
    display block
    width 1.25rem
    height 1.25rem
    margin-bottom 1.25rem
    background-image url(../images/svg-sprites/common.svg#benefit-mark)
    background-repeat no-repeat
    background-position center
    background-size cover
  &__title
    $text-title-18-24()
    font-weight 600
  &__body
    ^[-1]__title + &
      margin-top .625rem
