mixin benefit(title, settings = {})
  - tag = settings.tag || 'div'
  #{tag}(class=classes('benefit', settings))&attributes(attributes)
    if title
      h3.benefit__title !{title}
    .benefit__body: block
