mixin breadcrumbs(path = {'parents':[],'current':''})
  .breadcrumbs
    each parent in path.parents
      a(href='/').breadcrumbs__parent !{parent}
      .breadcrumbs__separator
    .breadcrumbs__current !{path.current}
