.breadcrumbs
  $text-paragraph()
  display flex
  flex-wrap wrap
  gap .625rem
  align-items center
  padding-top 2.5rem
  font-weight 500
  &__parent
    --color-text-link var(--color-text-primary)
    --color-text-link-hover var(--color-text-primary)
    --color-text-link-focus var(--color-text-primary)
  &__current
    color var(--color-text-secondary)
  &__separator
    width 1rem
    height 1rem
    background-color var(--color-text-secondary)
    mask-image url(../images/svg-sprites/rest.svg#separator)
    mask-repeat no-repeat
    mask-position center
    mask-size .375rem 
