.product-images
  margin-top -1.875rem
  padding 1.875rem
  background-color var(--color-bg-light)
  &__image img
    width 100%
    height auto
    object-fit contain
    object-position center
  &__list
    display grid
    grid-template-columns repeat(4, 1fr)
    grid-gap .625rem
    padding-top .625rem
