.product-images
  a(href='/images/product-image.jpg' data-glightbox data-gallery='product').product-images__main: +img({
    name: 'product-image',
    path: '/images/',
    formats: [
      { ext: 'jpg', mime: 'image/jpeg', orig: true },
      { ext: 'webp', mime: 'image/webp' },
    ],
    density: [ { values: [ 1, 2 ] } ],
  })(alt='' title='' width=417 height=417)
  ul.product-images__list
    each i in [1, 2, 3, 4]
      li.product-images__list-item: a(href='/images/product-image.jpg' data-glightbox data-gallery='product'): +img({
        name: 'product-image',
        path: '/images/',
        formats: [
          {ext: 'jpg', mime: 'image/jpeg', orig: true},
          {ext: 'webp', mime: 'image/webp'},
        ],
        density: [{values: [1, 2]}],
      })
