include /blocks/modal/modal
include /blocks/form-input/form-input

+modal().modal-quick-buy#modal-quick-buy
  form.modal-quick-buy__form.form
    h2 Заказать в 1 клик
    +formInput({type: 'text', name: 'name', label: 'Имя', required: true}).par#quick-buy-name
    +formInput({type: 'tel', name: 'phone', label: 'Телефон', placeholder: '+7 (___) ___-__-__', required: true}).par#quick-buy-phone
    +formInput({type: 'checkbox', name: 'agreement',id:'agreement', checked:true, required: true, label:['Нажимая на кнопку, я даю свое ', {tag: 'a', attr:{href:''}, content:'согласие на обработку своих персональных данных'}]}).par
    +button({ size: 's' })(type='submit').par Заказать
