.properties
  &__item
    display flex
    gap .625rem
    justify-content space-between
    align-items flex-end
    & + &
      margin-top 1.25rem
  &__name
    position relative
    order 1
    flex-grow 1
    &::before
      content ''
      position absolute
      right 0
      bottom 4px
      left 0
      align-self flex-end
      flex-grow 1
      display inline-block
      height 1px
      background-color var(--color-border)
    span
      position relative
      padding-right .625rem
      background-color var(--color-bg-primary)
  &__value
    flex-shrink 0
    order 3
