mixin catalogFilter(list)
  .catalog-filter&attributes(attributes)
    ul.catalog-filter__list
      each item, key in list
        - const secondary = key > 0 
        li.catalog-filter__item: +button({ tag: 'a', size: 'm', secondary })(href='/') !{item}
