mixin productPrice(price, settings = {})
  -
    let noDescription = false;
    if (settings.noDescription) {
      noDescription = settings.noDescription;
    }
  div(class=classes('product-price', settings))&attributes(attributes)
    if (!noDescription)
      .product-price__description Цена за шт.
    .product-price__value !{priceFormat(price)} ₽
