.product-price
  &__description
    color var(--color-text-secondary)
    @media (min-width point-m)
      $text-small()
    @media (max-width point-m - 1)
      font-size .75rem
  &__value
    font-weight 600
    white-space nowrap
    @media (min-width point-m)
      $text-title-44-52()
      ^[-1]--small &
        $text-title-28-32()
      ^[-1]--x-small &
        $text-paragraph()
    @media (max-width point-m - 1)
      $text-title-28-32()
      ^[-1]--small &
        $text-title-20-28()
      ^[-1]--x-small &
        $text-paragraph()
