.list-unordered
  $text-paragraph()
  color var(--color-text-primary)
  li
    position relative
    padding-left 1rem
    &::before
      content ''
      position absolute
      top .625rem
      left 0
      width .375rem
      height .375rem
      background-color var(--color-accent-primary)
      border-radius 50%
    & + li
      margin-top .25rem
