@font-face
  font-family 'Open Sans'
  src local("Open Sans Light"), url("../fonts/OpenSans-Regular.ttf") format("truetype")
  font-weight 400
  font-style normal
  font-display swap
@font-face
  font-family 'Open Sans'
  src local("Open Sans Light"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype")
  font-weight 600
  font-style normal
  font-display swap
@font-face
  font-family 'Open Sans'
  src local("Open Sans Light"), url("../fonts/OpenSans-Bold.ttf") format("truetype")
  font-weight bold
  font-style normal
  font-display swap
