$text-title-44-52()
  font-size 2.75rem
  line-height 3.25rem
$text-title-40-48()
  font-size 2.5rem
  line-height 3rem
$text-title-28-32()
  font-size 1.75rem
  line-height 2rem
$text-title-24-32()
  font-size 1.5rem
  line-height 2rem
$text-title-20-28()
  font-size 1.25rem
  line-height 1.75rem
$text-title-18-24()
  font-size 1.125rem
  line-height 1.5rem
$text-button()
  font-size 1rem
  line-height 1.25rem
$text-small()
  font-size .875rem
  line-height 1.125rem
$text-paragraph()
  font-size 1rem
  line-height 1.5rem
