elems = '.par', 'p', '.list-unordered', '.list-ordered'

for elem in elems
  for e in elems
    {elem} + {e}
      margin-top var(--par-margin)
  h1:not(.visually-hidden) + {elem}
    margin-top 1.25rem
  h2:not(.visually-hidden) + {elem}
    margin-top 1.375rem
  h3:not(.visually-hidden) + {elem}
    margin-top .625rem
  h4:not(.visually-hidden) + {elem}
    margin-top .25rem

p
  $text-paragraph()
  color var(--color-text-primary)

h2
  $text-title-24-32()
  font-weight bold
  color var(--color-text-primary)
  for elem in elems
    {elem} + &:not(.visually-hidden)
      margin-top 2rem

h3
  $text-title-18-24()
  font-weight 600
  for elem in elems
    {elem} + &:not(.visually-hidden)
      margin-top 1.875rem

h4
  $text-paragraph()
  font-weight 600
  for elem in elems
    {elem} + &:not(.visually-hidden)
      margin-top 1.5rem
  h3:not(.visually-hidden) + &
    margin-top .625rem
