:root
  --color-text-primary #1e1e1e
  --color-text-secondary #7c7d7d
  --color-text-link #3963ee
  --color-text-link-hover #2642a0
  --color-text-link-active #122153
  --color-bg-primary #ffffff
  --color-bg-secondary #373737
  --color-bg-light #f9f9f9
  --color-accent-primary #c42927
  --color-accent-primary-hover #AE2524
  --color-accent-primary-active #9B2624
  --color-accent-secondary #19147c
  --color-border #e6e6e6
  --color-error #7f0d0d

  --par-margin .625rem
