.form-input
  --border-color var(--color-border)
  position relative
  display block
  &--checkbox
  &--radio
    display flex
    align-items baseline
    & ^[-1]__label
      order 2
    & ^[-1]__field
      order 1
      flex-shrink 0
      width auto
      margin-right .625rem
  &--captcha
    display flex
    flex-direction column
    align-items stretch
  &__row
    display flex
  &__captcha-image
    width 100%
    margin basePadding basePadding 0
  &__field
    position relative
    z-index 2
    display block
    width 100%
    padding .625rem
    border 1px solid var(--border-color)
    textarea&
      height calc(9.75rem + 2px)
  &__label
    $text-small()
    position relative
    z-index 1
    display inline-block
    margin-bottom (basePadding/3)
