.form-input
  --border-color var(--color-border)
  &--invalid
    --border-color var(--color-error)
  &--checkbox &__message
    bottom 0
    left 0
    transform translateY(100%)
    border-radius 0 .25rem .25rem .25rem
    &::before
      content ''
      position absolute
      top -1rem
      left 0
      height .5rem
      width .5rem
      background-color transparent
      border .5rem solid transparent
      border-bottom-color var(--color-error)
  &__field
    border-radius .25rem
    &::placeholder
      color var(--color-text-secondary)
    textarea&
      resize none
  &__message
    $text-small()
    position absolute
    z-index 3
    width 100%
    padding .25rem .625rem .5rem
    color var(--color-bg-primary)
    background-color var(--color-error)
    border-radius .25rem
    transition opacity .4s, transform .3s
    &--disappear
      opacity 0
      transform translateY(50%)
