.product-benefits
  display flex
  flex-wrap wrap
  gap .875rem .625rem
  &__item
    $text-button()
    position relative
    padding-left 1.75rem
    font-weight 600
    &::before
    &::after
      content ''
      position absolute
      top 0
      left 0
      width 1.25rem
      height 1.25rem
    &::before
      background-color var(--color-accent-primary)
      border-radius 50%
    &::after
      background-color var(--color-bg-primary)
      mask-image url(../images/svg-sprites/rest.svg#check)
      mask-repeat no-repeat
      mask-position center 60%
      mask-size .675rem
  .product-header + &
    margin-top 1.375rem
  & + p
    margin-top 1.875rem
