head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/template/styles/core.css')
  link(rel='preload' href='/template/fonts/OpenSans-Regular.ttf' as='font' type='font/ttf' crossorigin='anonymous')

  block head
  title= pageTitle || ''
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')
