@import 'includes/variables'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'
@import 'includes/text.styl'

html
  font-family 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  font-size 16px
  color var(--color-text-primary)
  &.no-scroll
    overflow hidden

@import "../blocks/container"
@import "../blocks/logo/logo.core"
@import '../blocks/button/button.core'
@import '../blocks/cart/cart.core'
@import '../blocks/form-input/form-input.core'
@import '../blocks/grid'
@import '../blocks/h1'
@import '../blocks/header-navigation/header-navigation.core'
@import '../blocks/header-user/header-user.core'
@import '../blocks/header/header.core'
@import '../blocks/home-header/home-header.core'
@import '../blocks/img'
@import '../blocks/layout'
@import '../blocks/page-section'
@import '../blocks/page-subsection'
@import '../blocks/phone'
@import '../blocks/search/search.core'
@import '../blocks/visually-hidden'
@import './includes/typography'

.hidden-hd
  @media screen and (min-width point-hd)
    display none !important // @stylint ignore
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none !important // @stylint ignore
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none !important // @stylint ignore
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none !important // @stylint ignore
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none !important // @stylint ignore
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none !important // @stylint ignore
