.review
  & + &
    margin-top 1.5rem
  &__title
    $text-title-18-24()
    font-weight 600
  &__body
  &__author
    margin-top .5rem
  &__author
    $text-small()
    color var(--color-text-secondary)
