.header-user
  &__item
    --color-text-link var(--color-text-primary)
    --color-text-link-hover var(--color-accent-primary-hover)
    --color-text-link-active var(--color-accent-primary-active)
    text-decoration none
