mixin headerUser(signedIn = false)
  div(class=classes('header-user', { signedIn }))&attributes(attributes)
    if !signedIn
      +button({ tag: 'a', empty: true, icon: 'enter', size: 's' })(href='/').header-user__item Войти
      a(href='/').header-user__item Регистрация
    else
      +button({ tag: 'a', empty: true, icon: 'user', size: 's' })(href='/').header-user__item дима м.
