.order-block
  border 1px solid var(--color-border)
  border-radius .25rem
  counter-increment orderBlock
  &__title
    padding .5rem 1rem 
    background-color var(--color-bg-light)
    h2
      $text-paragraph()
  &__body
    padding basePadding
  &__product
    & + &
      margin-top .75rem
      padding-top .75rem
      border-top 1px solid var(--color-border)
  &__buttons
    padding-top 1.25rem
    border-top 1px solid var(--color-border)
  &__next
    margin-left auto
  &__warning
    margin-bottom 1.25rem
    padding .625rem 1.25rem
    color var(--color-accent-primary)
    border 1px solid var(--color-accent-primary)
  &__count
    --color-border-count var(--color-border)
    position relative
    display inline-block
    width 1.5rem
    height 1.5rem
    margin-right .5rem
    margin-bottom -.25rem
    text-align center
    color var(--color-text-secondary)
    border 1px solid var(--color-border-count)
    border-radius .75rem
    &::before
      $text-small()
      content counter(orderBlock)
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
    .bx-step-error &
      color var(--color-bg-primary)
      background-color var(--color-accent-primary)
    .bx-step-completed &
      color var(--color-bg-primary)
      background-color var(--color-accent-secondary)
