include /helpers/price-format
include /helpers/classes

include /blocks/grid/grid
include /blocks/create-element/create-element
include /blocks/scripts/scripts
include /blocks/img/img
include /blocks/page-section/page-section
include /blocks/logo/logo

doctype html
html(lang='ru')
  include ../head/head
  body
    header.header
      .container.header__top.hidden-m.hidden-s.hidden-xs: .content.header__inner
        +logo.header__logo
    main: block content
