mixin productHeader(settings = {})
  .product-header&attributes(attributes)
    h1.product-header__title: block
    +availability({ notAvailable: settings.availability === false }).product-header__availability В наличии
