.orders-current-item
  & + &
    margin-top (basePadding*2.375)
  &__header
    display flex
    justify-content space-between
    align-items baseline
    padding (basePadding/2) basePadding
    color var(--color-bg-primary)
    background var(--color-accent-secondary)
    border var(--color-border)
  &__title
    margin-x basePadding
  &__body
    padding (basePadding) (basePadding*2) 0
    border-right 1px solid var(--color-border)
    border-left 1px solid var(--color-border)
  &__section
    padding-bottom basePadding
    &:last-child
      border-bottom 1px solid var(--color-border)
    & + &
      margin-top basePadding
  &__section-title
    $font-small()
    display flex
    align-items center
    padding-y (basePadding/2)
    font-weight bold
    color var(--font-color-secondary)
    &::after
      content ''
      flex-grow 1
      height 1px
      margin-left (basePadding*2)
      background-color rgba(#d6d6d6, .5)
  &__info
    padding-y (basePadding/2)
  &__clarification
    $font-small()
    margin-top 1em
  &__status
    display inline-block
    color var(--color-font-secondary)
    &--success
      color var(--color-accent-secondary)
    &--failure
      color var(--color-accent-primary)
  &__footer
    display flex
    flex-wrap wrap
    justify-content space-between
    padding (basePadding) basePadding
    border 1px solid #d6d6d6
    border-top none

    a
      margin-x basePadding
  a&__repeat
    margin-left auto
    padding-left 1.5em
    background-image url(../images/svg-sprites/rest.svg#repeat)
    background-repeat no-repeat
    background-position left center
    background-size 1rem
