mixin ordersCurrentItem(item)
  .orders-current-item.par
    .orders-current-item__header
      h3.orders-current-item__title Заказ № !{item.number} от !{item.date}, !{item.count} товар на сумму !{item.sum} ₽
    .orders-current-item__body
      .orders-current-item__section
        .orders-current-item__section-title Оплата
        +grid({'padding-y': true, 'align': 'center'}).orders-current-item__info
          +cell
            strong Счет №12/1 от 29.11.2020,
            |  Оплата при получении
          +cell
            - const className = item.paymentStatus ? `orders-current-item__status--${item.paymentStatus.type}` : ''
            .orders-current-item__status(class = className) !{item.paymentStatus.name}
        .orders-current-item__clarification Сумма к оплате по счету: !{item.sum} ₽
      .orders-current-item__section
        .orders-current-item__section-title Доставка
        +grid({'padding-y': true, 'align': 'center'}).orders-current-item__info
          +cell Отгрузка №12/2, стоимость доставки !{item.deliveryCost}  ₽
          +cell
            - const className = item.paymentStatus ? `orders-current-item__status--${item.deliveryStatus.type}` : ''
            .orders-current-item__status(class = className) !{item.deliveryStatus.name}
        .orders-current-item__clarification Статус отгрузки:
          - const className = item.paymentStatus ? `orders-current-item__status--${item.shipmentStatus.type}` : ''
          .orders-current-item__status(class = className) !{item.shipmentStatus.name}
        .orders-current-item__clarification Служба доставки: Самовывоз из магазина в Санкт-Петербурге
    .orders-current-item__footer
      a(href='/') Подробнее о заказе
      a(href='/').orders-current-item__repeat Повторить заказ
      a(href='/') Отменить заказ
