.search
  --color-bg-search #494949
  @media (max-width point-l - 1)
    --color-bg-search var(--color-bg-primary)
  &__field
  &__submit
    background-color var(--color-bg-search)
  &__field
    color var(--color-bg-primary)
    border-radius .25rem 0 0 .25rem
    @media (max-width point-l - 1)
      color var(--color-text-primary)
    &:focus
      outline none
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration
      appearance none
    &::placeholder
      color var(--color-text-secondary)
  &__submit
    border-radius 0 .25rem .25rem 0
    &::before
      content ''
      position absolute
      top 50%
      left 0
      width 1.75rem
      height 1.75rem
      background-color var(--color-text-secondary)
      transform translateY(-50%)
      mask-image url(../images/svg-sprites/common.svg#zoom)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
