.search
  display flex
  &__field
  &__submit
    appearance none
    border none
    @media (max-width point-l - 1)
      border 1px solid var(--color-border)
  &__field
    flex-grow 1
    padding .625rem
    @media (max-width point-l - 1)
      border-right none
  &__submit
    position relative
    display block
    width 2.25rem
    min-height 1.75rem
    padding .375rem
    @media (max-width point-l - 1)
      border-left none
