.footer
  margin-top 3.75rem
  border-top 3px solid var(--color-accent-secondary)
  &__top
    background-color var(--color-bg-light)
    & ^[-1]__inner
      padding-y 2.5rem
  &__bottom
    --color-text-primary var(--color-bg-primary)
    --par-margin 0
    background-color var(--color-bg-secondary)
    p
      font-size .75rem
      line-height 1rem
    & ^[-1]__inner
      display flex
      justify-content space-between
      align-items center
      gap 2.5rem
      padding 1rem
  &__contacts
    margin-left auto
