include /blocks/footer-menu/footer-menu
include /blocks/phone/phone

-
  const menus = [
    { title: 'О компании', list: [ 'Сертификаты', 'Наши клиенты' ] },
    { title: 'Каталог', list: [ 'Штукатурка', 'Клей', 'Кладочная смесь', 'ЦПС', 'Сухой песок' ] },
    { title: 'Покупателям', list: [ 'Оплата', 'Доставка', 'Расчет материала' ] },
  ]

footer.footer
  h2.visually-hidden Подвал
  .container.footer__top: +grid().content.footer__inner
    each menu in menus
      +footerMenu(menu)(class=cellClasses({ l: 2, m: 3, s: 6, xs: 12 }))
    +cell({ l: 4, m: 6, xs: 12 }).footer__contacts
      +phone({number: '+7 (812) 414-97-93', description: 'для юр. лиц и ИП'}).footer__phone.par
      +phone({number: '+7 (812) 414-97-82', description: 'для физ. лиц'}).footer__phone.par
      h3.footer__subtitle Отдел продаж
      p пр. Медиков, д. 5 лит. Б, оф. 337а
      h3.footer__subtitle Склад
      p Всеволожский район, д. Щеглово, ул. Инженерная д. 17
      p: a(href='mailto:mainsale@tdunicom.ru') mainsale@tdunicom.ru
  .container.footer__bottom: .content.footer__inner
    p © 2014-2020 | Продажа сухого песка и строительных смесей в Санкт-Петербруге
    p Разработка и продвижения сайта: 
      br
      a(href='https://medreclama.ru' target='_blank') Агентство медицинской рекламы "Medreclama”
