include /blocks/modal/modal
include /blocks/form-input/form-input

+modal().call-back#call-back
  form.call-back__form.form
    h2 Заказать обратный звонок
    p Укажите свой номер телефона, и мы перезвоним вам в ближайшее время
    +formInput({type: 'tel', placeholder: 'Телефон', name: 'phone', required: true}).par
    +button({size: 's'})(type='submit').form__submit.par Заказать обратный звонок
