.document
  $text-paragraph()
  position relative
  padding 3.75rem 1rem 1.25rem
  font-weight 600
  text-align center
  color var(--color-text-primary)
  border 1px solid var(--color-border)
  border-radius .25rem
  &::before
    content ''
    position absolute
    top 1.25rem
    left 50%
    width 2.25rem
    height 2.25rem
    background-color var(--color-accent-primary)
    mask-image url(../images/svg-sprites/rest.svg#document)
    mask-repeat no-repeat
    mask-position center
    mask-size contain
    transform translateX(-50%)
