include /blocks/modal/modal
include /blocks/form-input/form-input

+modal().modal-calculate#modal-calculate
  form.modal-calculate__form.form
    h2 Рассчитать расход
    +formInput({ type: 'number', label: 'Площадь поверхности, м<sup>2</sup>', name: 'area', required: true }).par
    +formInput({ type: 'select', label: 'Толщина слоя, мм', options: [ '1', '2', '3', '4', '5' ], required: true }).par
    +button({size: 's'})(type='submit').modal-calculate__submit.form__submit.par Посчитать
