.availability
  --before-content ''
  position relative
  padding-left 1.75rem
  font-weight 600
  color var(--color-accent-secondary)
  &--not-available
    --before-content none
    padding-left 0
    color var(--color-text-secondary)
  &::before
    content var(--before-content)
    position absolute
    top 50%
    left 0
    width 1.5rem
    height 1.5rem
    background-color var(--color-accent-secondary)
    mask-image url(../images/svg-sprites/rest.svg#availability)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
    transform translateY(-50%)
