include /blocks/form-input/form-input

+pageSection.home-header: .home-header__inner
  h1.home-header__title Сухие строительные смеси и песок по ценам от производителя
  p.home-header__description Получите бесплатную консультацию
  form.home-header__form.form
    +formInput({type: 'tel', placeholder: '+7 (000) 000-00-00', required: true}).home-header__phone
    +button(type='submit').home-header__submit.form__submit Подобрать смесь
