.home-header
  position relative
  &__inner
    position relative
    z-index 2
    display flex
    flex-direction column
    align-items flex-start
    padding-y 10rem
    @media (max-width point-m - 1)
      padding-top 2.5rem
  &__title
    $text-title-40-48()
    width 100%
    max-width 48rem
    font-weight bold
    @media (max-width point-m - 1)
      $text-title-24-32()
  &__description
    margin-top 1.25rem
    font-weight 600
  &__form
    display flex
    flex-direction column
    gap .625rem
    margin-top .625rem
    & .yandex-captcha
      margin-y 0
    @media (max-width point-m - 1)
      flex-wrap wrap
      & ^[-1]__submit
        width 100%
  &__phone .form-input__field
    width 18.75rem
    height 100%
    @media (max-width point-m - 1)
      width 100%
