.home-header
  position relative
  background-image url(../images/home-header-bags-1.webp), url(../images/home-header-bags-2.webp), url(../images/home-header-bg.webp)
  background-repeat no-repeat
  background-position 57.5vw 4rem, 52vw 26rem, center
  background-size 60rem, 52rem, cover
  @media (max-width point-s - 1)
    background-position 25vw bottom, -25vw bottom, center
    background-size 100vw, 100vw, cover
  &::before
    content ''
    position absolute
    inset 0
    z-index 1
    background-color rgba(0, 0, 0, .8)
    mix-blend-mode soft-light
  &__description
    color var(--color-text-secondary)
