@import '../../../node_modules/swiper/swiper.min.css'

.tabs
  overflow hidden
  &__labels
    display flex
    flex-wrap wrap
    border-bottom 1px solid var(--color-border)
    @media (max-width point-l - 1)
      padding-x 1.25rem
      max-width 100vw
    &--swipe
      position relative
      z-index 0
      flex-wrap nowrap
      max-width 100vw
      .swiper-wrapper
        display contents
        @media (max-width point-l - 1)
          display flex
  &__label
    --border-bottom-color transparent
    position relative
    z-index 1
    padding 0 1.25rem 1.25rem
    cursor pointer
    &.swiper-slide
      width unset
      @media (max-width point-l - 1)
        padding .625rem 1.25rem
    &::after
      content ''
      position absolute
      right 0
      bottom -.125rem
      left 0
      height .125rem
      background-color var(--border-bottom-color)
    &--active
      --border-bottom-color var(--color-accent-primary)
  &__item
    display none
    padding-top 2.5rem
    &--active
      display block
  &__change
    --color-arrow var(--color-accent-primary)
    position absolute
    top 0
    bottom -.125rem
    z-index 2
    display flex
    justify-content center
    align-items center
    width 1.25rem
    background-color var(--color-bg-primary)
    @media (min-width point-l)
      display none
    &::before
      content ''
      width 1.25rem
      height 2.5rem
      background-color var(--color-arrow )
      mask-image url(../images/svg-sprites/rest.svg#arrow)
      mask-repeat no-repeat
      mask-position center
      mask-size contain
    &.swiper-button-disabled
      --color-arrow var(--color-text-secondary)
    &--prev
      left 0
      transform rotate(180deg)
      transform-origin 50% 50% 0
    &--next
      right 0
