mixin tabs(settings = {names:[]})
  - tabs = []
  div(class=classes('tabs', settings))&attributes(attributes)
    block
    .tabs__labels(class=`${settings.swipe ? 'tabs__labels--swipe' : ''}`)
      if (settings.swipe)
        .swiper-wrapper
          each item in tabs
            .tabs__label.swiper-slide !{item.name}
        .tabs__change.tabs__change--prev
        .tabs__change.tabs__change--next
      else
        each item in tabs
          .tabs__label !{item.name}
    .tabs__contents
      each item in tabs
        .tabs__item
          - item.block();
  - delete tabs

mixin tab(settings = {name:''})
  - tabs.push({block: this.block, name: settings.name})
