extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/profile-item/profile-item
include /blocks/page-section/page-section

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    +breadcrumbs({parents:['Главная'],current:'Мой кабинет'})
    h1 Персональный раздел
  +pageSection
    +grid(): +cell({m:8,s:10,xs:12}): p В личном кабинете Вы можете проверить текущее состояние корзины, ход выполнения Ваших заказов, а также просмотреть или изменить личную информацию.
  +pageSection
    -
      let items = [
        {name: 'Текущие заказы', icon: 'current-orders', href: 'orders-current.html'},
        {name: 'Личные данные', icon: 'user', href: 'personal.html'},
        {name: 'История заказов', icon: 'orders', href: 'orders-history.html'},
        {name: 'Корзина', icon: 'cart', href: 'cart.html'},
      ]
    +grid({'padding-y':true})
      each item in items
        +cell({m:3,s:4,xs:12})
          +profileItem(item)
block bottom
  +style('inner')
