extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const products = [
      { name: 'Цемент', value: 'cement' },
      { name: 'Цемент', value: 'cement' },
      { name: 'Цемент', value: 'cement' },
    ]
    const thickness = []
    for (let j = 1; j <= 10; j += 1) {
      thickness.push({ name: j, value: j })
    }
  +pageSection
    +breadcrumbs({ parents: [ 'Главная', 'Покупателям' ], current: 'Расчет материала' })
    h1 Расчет материала
  +pageSection
    +grid: form.calculate-form.form(class= gridClasses() class= cellClasses({ l: 4, m: 6, s: 8, xs: 12 }))
      +formInput({ type: 'select', label: 'Выберите продукт', options: products })(class= cellClasses({ xs: 12 }))
      +formInput({ type: 'text', label: 'Площадь поверхности, м<sup>2</sup>' })(class= cellClasses({ xs: 12 }))
      +formInput({ type: 'select', label: 'Толщина слоя, мм', options: thickness })(class= cellClasses({ xs: 12 }))
      +button({ size: 'm' })(type='submit' class= cellClasses({ xs: 12 })) Посчитать
block bottom
  +style('inner')
