extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/cart-list/cart-list
include /blocks/cart-summary/cart-summary

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const cartList = [
      { name: 'Тестовый товар Тестовый товар', image: 'catalog-product', price: '2000', count: 2 },
      { name: 'Тестовый товар', image: 'catalog-product', price: '1000', count: 1 },
      { name: 'Тестовый товар', image: 'catalog-product', price: '3000', count: 3 },
      { name: 'Тестовый товар', image: 'catalog-product', price: '3000', count: 3, deleted: true },
    ]
  +pageSection
    +breadcrumbs({ parents: [ 'Главная', 'Персональный раздел' ], current: 'Корзина' })
    h1 Моя корзина
  +pageSection
    +grid()
      +cartList(cartList)(class= cellClasses({ l: 9, xs: 12 }))
      +cartSummary(class= cellClasses({ l: 3, s: 6, xs: 12, alignSelf: 'flex-start' }))
block bottom
  +style('inner')
