extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/range-item/range-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const range = [
      {
        image: 'plaster',
        name: 'Штукатурки',
        //- clarification: '<ul class="range-item__list"><li>Гипсовая штукатурка</li><li>Цементно-известковая штукатурка</li><li>Цементная штукатурка</li></ul>',
        info: '<p>Штукатурки – распространенный отделочный материал, применяющийся для выравнивания стен внутри помещений, а также для выравнивания фасадов зданий.</p>',
      },
      {
        image: 'glue',
        name: 'Клеи',
        //- clarification: '3 вида',
        info: '<p>Керамическая плитка, керамогранит — всё это облицовочные материалы, которые прочно вошли в нашу повседневную жизнь, без которых трудно представить современную отделку.</p>',
      },
      {
        image: 'brickwork',
        name: 'Кладочная смесь',
        //- clarification: '1 вид',
        info: '<p>Цементно песчаная смесь – , которую используют на всех этапах строительства, т.к. в составе нее находится цемент и песок, который смешан в определенной пропорции на заводе производителя.</p>',
      },
      {
        image: 'cement',
        name: 'ЦПС',
        //- clarification: '4 вида',
        info: '<p>Клей для плитки  — это многокомпонентный состав на основе неорганических веществ, который применяется для приклеивания керамической плитки, керамогранта, натурального камня и мозайки к вертикальным или горизонтальным поверхностям.</p>',
      },
    ]     
  +pageSection
    +breadcrumbs({ parents: [ 'Главная' ], current: 'Каталог' })
    h1 Каталог продукции
  +pageSection
    h2 Ассортимент
    +grid.page-subsection
      each item in range
        +cell({ s: 6, xs: 12 })
          +rangeItem(item).par
          | !{item.info}
block bottom
  +style('inner')
