extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/catalog-product/catalog-product
include /blocks/catalog-filter/catalog-filter
include /blocks/accordion-item/accordion-item
include /blocks/page-subsection/page-subsection

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const products = [
      { image: 'catalog-product', name: 'Штукатурка цементная, 50 кг.', price: '1500', availability: true },
      { image: 'catalog-product', name: 'Штукатурка цементно-известковая, 50 кг.', price: '1500', availability: true },
      { image: 'catalog-product', name: 'Штукатурка гипсовая, 50 кг.', price: '1500', availability: false },
    ]
    const faq = [
      {
        title: 'Что такое цементно-песчаные смеси (ЦПС) и где они применяются?',
        text: 'Цементно-песчаные смеси (ЦПС) представляют собой строительные материалы, состоящие из цемента, песка и воды. Они широко используются в строительстве для создания прочных и долговечных конструкций. ЦПС применяются для заливки полов, кладки стен и создания оснований для других строительных материалов. Важно учитывать тип грунта, на котором будет проводиться строительство, так как это влияет на выбор подходящей смеси. Например, для строительства на гранитном или известняковом основании могут потребоваться разные компоненты.',
      },
      {
        title: 'Как выбрать подходящую цементно-песчаную смесь для моего проекта?',
        text: 'При выборе ЦПС стоит обратить внимание на состав смеси. Например, использование керамзита в смеси может улучшить теплоизоляционные свойства, а добавление отсевов или речного песка обеспечит необходимую прочность. Для более крупных работ можно использовать карьерный песок или гранитную крошку. Удобное сочетание этих материалов позволит добиться оптимальных характеристик для вашего проекта, включая пгс (песчано-гравийные смеси) для улучшения прочности.',
      },
      {
        title: 'Какова стоимость цементно-песчаных смесей и есть ли возможность доставки?',
        text: 'Стоимость ЦПС варьируется в зависимости от типа смеси и её компонентов, таких как гранитная крошка или карьерный песок. На нашем сайте вы найдете различные товары с указанием цен за кубический метр (м?). Мы также предоставляем услуги по доставке, что позволяет быстро получить необходимые материалы прямо на строительный объект. Это особенно удобно для крупных проектов, где важна каждая минута.',
      },
      {
        title: 'Какие преимущества использования вторичных материалов в ЦПС?',
        text: 'Использование вторичных материалов, таких как отсев или карьерный песок, может существенно снизить затраты на строительство без потери качества. Природные компоненты, такие как горный песок или известняковый щебень, также могут улучшить характеристики смеси. Правильное сочетание материалов обеспечивает не только экономию средств, но и устойчивость к внешним воздействиям. Это делает ЦПС более экологически чистыми и экономически выгодными.',
      },
      {
        title: 'Как правильно хранить цементно-песчаные смеси?',
        text: 'Хранение ЦПС требует соблюдения определенных условий. Смеси необходимо хранить в сухом месте, защищенном от влаги. Влажность может негативно сказаться на качестве смеси и привести к её затвердению. Рекомендуется использовать контейнеры или мешки для хранения, чтобы избежать контакта с природными осадками. Это важно для сохранения всех свойств смеси до момента использования.',
      },
      {
        title: 'Какова роль гранитной крошки в составе ЦПС?',
        text: 'Гранитная крошка является одним из популярных компонентов ЦПС благодаря своей прочности и долговечности. Она улучшает механические свойства смеси и повышает её устойчивость к внешним воздействиям. Использование гранитной крошки делает смесь более надежной для применения в условиях повышенных нагрузок. Это особенно актуально в строительстве объектов с высокой эксплуатационной нагрузкой.',
      },
      {
        title: 'Как влияет выбор песка на качество ЦПС?',
        text: 'Выбор песка играет ключевую роль в качестве цементно-песчаной смеси. Например, речной песок обладает хорошими свойствами сцепления и минимальным содержанием глины, что делает его идеальным для большинства строительных работ. В то же время использование супеси или карьерного песка может быть оправдано в зависимости от специфики проекта и требуемых характеристик конечного продукта.',
      },
    ]
  +pageSection
    +breadcrumbs({ parents: [ 'Главная', 'Каталог', 'Сухие строительные смеси' ], current: 'Штукатурка' })
    h1 Штукатурка
    +catalogFilter([ 'Гипсовая', 'Цементная' ]).par
  +pageSection: +grid()
    each product in products
      +catalogProduct(product)(class=cellClasses({ l: 3, m: 4, s: 6, xs: 12 }))
  +pageSection: include /blocks/pagination/pagination
  +pageSection
    p Штукатурные смеси «Актив» предназначены для профессионального механизированного нанесения и используются для отделки новостроек, ремонта и реставрации муниципальных, коммерческих объектов. Подходят для бетонных и кирпичных оснований, в том числе для сложных поверхностей.
    p Гипсовые штукатурки «Актив» и «Актив Экстра» используются для однослойной отделки, выравнивания и доведения до блеска стен и потолков в сухих помещениях. После обработки не требуется нанесение финишных материалов. Белая поверхность готова для окрашивания и наклеивания обоев.
    p Цементный состав более универсален. Он подходит для фасадных и внутренних работ, используется в сухих и влажных помещениях, служит надежной основой для керамической плитки и декоративных штукатурок.
    p Для окончательного высокоточного выравнивания внутренних поверхностей из гипсоволокнистых листов, штукатурных слоев, пазогребневых плит в линейке бренда есть шпаклевки Volma Cream.
  +pageSection
    h2 Вопросы и ответы
    +grid().page-subsection: +cell({ m:9,s:12,xs:12 }) 
      each item in faq
        +accordionItem(`<h3>${item.title}</h3>`)
          p !{item.text}

block modals
  include /blocks/modal-quick-buy/modal-quick-buy
block bottom
  +style('inner')
