extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/range-item/range-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const range = [
      { image: 'plaster', name: 'Сухие строительные смеси', info: '<p>Штукатурки — распространенный отделочный материал, применяющийся для выравнивания стен внутри помещений, а также для выравнивания фасадов зданий.</p>' },
      { image: 'dry-sand', name: 'Сухой песок', info: '<p>Клей для плитки — это многокомпонентный состав на основе неорганических веществ, который применяется для приклеивания керамической плитки, керамогранта, натурального камня и мозайки к вертикальным или горизонтальным поверхностям.</p>' },
    ]
  +pageSection
    +breadcrumbs({ parents: [ 'Главная' ], current: 'Каталог' })
    h1 Каталог продукции
  +pageSection
    h2 Ассортимент
    +grid.page-subsection
      each item in range
        +cell({ m: 4, s: 6, xs: 12 })
          +rangeItem(item).par
          | !{item.info}
block bottom
  +style('inner')
