extends /blocks/layout/layout

include /blocks/range-item/range-item
include /blocks/benefit/benefit

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const range = [
      { image: 'plaster', name: 'Штукатурки' },
      { image: 'glue', name: 'Клеи' },
      { image: 'brickwork', name: 'Кладочная смесь' },
      { image: 'cement', name: 'ЦПС' },
      { image: 'dry-sand', name: 'Сухой песок' },
    ]
  include /blocks/home-header/home-header 
  +pageSection
    h2 Почему у нас покупают?
    +grid({ tag: 'ul' }).page-subsection
      +benefit('Выгодная цена', { tag: 'li' })(class=cellClasses({ m: 4, s: 6, xs: 12 }))
        p Нет наценки посредника за счет прямых поставок с завода производителя.
      +benefit('Ассортимент', { tag: 'li' })(class=cellClasses({ m: 4, s: 6, xs: 12 }))
        p Постоянное наличие на складе основных товарных позиций.
      +benefit('Высокие стандарты качества', { tag: 'li' })(class=cellClasses({ m: 4, s: 6, xs: 12 }))
        p Вся продукция имеет соответствующие сертификаты и паспорты качества.
  +pageSection
    h2 Ассортимент
    +grid.page-subsection
      each item in range
       +rangeItem(item)(class=cellClasses({ m: 4, s: 6, xs: 12 }))
  +pageSection
    h2 Магазин сухих строительных смесей и песка
    p Сухие строительные смеси — востребованная категория стройматериалов, используется в строительстве для выполнения различных видов работ: создание стяжки и выравнивания пола, оштукатуривание и шпаклевание стен и потолка в помещении, укладки штучных стройматериалов (блоков), плитки, и др.
    p Весь ассортимент продукции выпускается на современном оборудовании с постоянным контролем качества каждой партии. У нашей компании большой автопарк специальной техники. Именно поэтому мы доставляем заказы клиентам точно в срок, в необходимом количестве и соответствующем, высоком качестве.
    p Предоставляем возможность купить сухие строительные смеси как оптом по выгодным ценам, так и в розницу. У нас на сайте размещен удобный каталог — прайс-лист сухих строительных смесей для клиентов на всю продукцию. Мы следим за оптимальными ценами и постоянным наличием наиболее популярных позиций продукции на складе.
block bottom
  +style('home')
