extends /blocks/layout-index/layout-index

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
  link(rel='stylesheet' href='/template/styles/home.css')
block content
  -
    const pages = [
      { name: 'Главная — home.html', href: 'home.html' },
      { name: 'Главная, пустая корзина и залогиненный пользователь — home--alternate-header.html', href: 'home--alternate-header.html' },
      { name: 'Главная каталога — catalog-main.html', href: 'catalog-main.html' },
      { name: 'Категории каталога — catalog-categories.html', href: 'catalog-categories.html' },
      { name: 'Каталог — catalog.html', href: 'catalog.html' },
      { name: 'Продукт — product.html', href: 'product.html' },
      { name: 'Продукт не в наличии — product--not-available.html', href: 'product--not-available.html' },
      { name: 'Расчет материала — calculator.html', href: 'calculator.html' },
      { name: 'Корзина — cart.html', href: 'cart.html' },
      { name: 'Оформление заказа — order-make.html', href: 'order-make.html' },
      { name: 'Вход — login.html', href: 'login.html' },
      { name: 'Регистрация — register.html', href: 'register.html' },
      { name: 'Поиск — search.html', href: 'search.html' },
      { name: 'Личный кабинет — account.html', href: 'account.html' },
      { name: 'Заказы — orders-current.html', href: 'orders-current.html' },
      { name: 'История заказов — orders-history.html', href: 'orders-history.html' },
      { name: 'Личные данные — personal.html', href: 'personal.html' },
    ]
  +pageSection
    each page in pages
      p: a(href= page.href) !{page.name}
