extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    +breadcrumbs({ parents: [ 'Главная' ], current: 'Вход на сайт' })
    h1 Авторизация
  +pageSection
    p Пожалуйста, авторизуйтесь:
    +grid().par
      +cell({tag: 'form', l:4,s:8,xs:12})
        +formInput({label: 'Логин', type: 'text', name: 'USER_LOGIN', id: 'USER_LOGIN'}).par
        +formInput({label: 'Пароль', type: 'password', name: 'USER_PASSWORD', id: 'USER_PASSWORD'}).par
        +formInput({label: 'Запомнить меня на этом компьютере', type: 'checkbox', name: 'USER_REMEMBER', id: 'USER_REMEMBER'}).par
        +button({ type: 'submit', size: 's' }).par Войти
    p
      a(href='') Забыли свой пароль?
      |  | 
      a(href='') Зарегистрироваться
    p Если вы впервые на сайте, заполните, пожалуйста, регистрационную форму.
block bottom
  +style('inner')
