extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/orders-history-item/orders-history-item
include /blocks/page-section/page-section

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    +breadcrumbs({parents:['Главная','Мой кабинет'],current:'Мои заказы'})
    h1 Мои заказы
  +pageSection
      p
        a(href='/') Посмотреть текущие заказы
        | 
        a(href='/') Посмотреть историю отмененных заказов
      h2 Заказы в статусе «Выполнен»
      -
        const orders = [
          {
            number: 13,
            date: '29.11.2020 04:15:58',
            count: 2,
            sum: '78 000',
            status: '',
            dateDone: '29.11.2020',
          },
          {
            number: 12,
            date: '29.11.2020 04:00:06',
            count: 1,
            sum: '30 000',
            status: 'cancelled',
            dateDone: '29.11.2020',
          },
        ]
      each item in orders
        +ordersHistoryItem(item)
block bottom
  +style('inner')
