extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/cart-list/cart-list
include /blocks/cart-summary/cart-summary
include /blocks/form-input/form-input
include /blocks/page-subsection/page-subsection
include /blocks/order-product/order-product

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const products = [
      { image: 'order-product', name: 'Тестовый товар', count: '2', price: '1000' },
      { image: 'order-product', name: 'Тестовый товар', count: '1', price: '1000' },
      { image: 'order-product', name: 'Тестовый товар [2]', count: '1', price: '1000' },
    ]
  +pageSection
    +breadcrumbs({ parents: [ 'Главная', 'Персональный раздел' ], current: 'Заказы' })
    h1 Оформление заказа
  +pageSection
    +grid()
      +cartSummary({ noSticky: true })(class= cellClasses({ l: 3, s: 6, xs: 12, alignSelf: 'flex-start' })).hidden-hd.hidden-xl.hidden-l
      +cell({ l: 9, xs: 12 })
        .bx-soa.order
          #bx-soa-main-notifications
            .alert.alert-danger(style='display:none')
            div(data-type='informer' style='display:none')
          // BASKET ITEMS BLOCK
          #bx-soa-basket.bx-soa-section.bx-active(data-visited='true' style='').order-block.order__block
            +grid().order-block__title.bx-soa-section-title-container
              +cell({ tag: 'h2', s: 9, xs: 8 }).bx-soa-section-title
                span.bx-soa-section-title-count.order-block__count
                | Товары в заказе
              +cell({ s: 3, xs: 4 }).text-align--right
                a.bx-soa-editstep(href='javascript:void(0)') изменить
            .bx-soa-section-content.order-block__body
              +pageSubsection.bx-soa-table-fade
                each item in products
                  +orderProduct(item).order-block__product
              +pageSubsection.order-block__buttons.bx-soa-more: +grid({ justify: 'space-between' }).bx-soa-more-btn
                +button({ tag: 'a', size: 's' })(class= cellClasses({ l: 2, m: 3, xs: 6 }) href='javascript:void(0)').order-block__next Далее
          // REGION BLOCK
          #bx-soa-region.bx-soa-section.bx-active.bx-selected(data-visited='true' style='').order-block.order__block
            +grid().order-block__title.bx-soa-section-title-container
              +cell({ tag: 'h2', s: 9, xs: 8 }).bx-soa-section-title.col-sm-9
                span.bx-soa-section-title-count.order-block__count
                | Тип плательщика
              +cell({ s: 3, xs: 4 }).text-align--right
                a.bx-soa-editstep(href='' style='') изменить
            .bx-soa-section-content.order-block__body
              .alert.alert-danger(style='display: none;')
              +pageSubsection(class= gridClasses()).form-group: +cell({ l: 6, m: 8, s: 10, xs: 12 })
                +formInput({ type: 'radio', name: 'PERSON_TYPE', value: '1', label: 'Физическое лицо' }).par
                +formInput({ type: 'radio', name: 'PERSON_TYPE', value: '2', label: 'Юридическое лицо' }).par
                +formInput({ type: 'text', name: 'ORDER_PROP_12', label: '<span class="bx-authform-starrequired">Индекс</span>' })(data-property-id-row='12').bx-soa-location-input-container.par
                input#ZIP_PROPERTY_CHANGED(name='ZIP_PROPERTY_CHANGED' type='hidden' value='N')
                input(type='hidden' name='PERSON_TYPE_OLD' value='2')
              +pageSubsection.order-block__buttons.bx-soa-more: +grid({ justify: 'space-between' }).bx-soa-more-btn
                +button({ tag: 'a', size: 's' })(class= cellClasses({ l: 2, m: 3, xs: 6 }) href='javascript:void(0)') Назад
                +button({ tag: 'a', size: 's' })(class= cellClasses({ l: 2, m: 3, xs: 6 }) href='javascript:void(0)').order-block__next Далее
          // PAY SYSTEMS BLOCK
          #bx-soa-paysystem.bx-soa-section.bx-active.bx-step-completed(data-visited='true').order-block.order__block
            +grid().order-block__title.bx-soa-section-title-container
              +cell({ tag: 'h2', s: 9, xs: 8 }).bx-soa-section-title.col-sm-9
                span.bx-soa-section-title-count.order-block__count
                | Оплата
              +cell({ s: 3, xs: 4 }).text-align--right.col-xs-12.col-sm-3.text-right
                a.bx-soa-editstep(href='' style='') изменить
            .bx-soa-section-content.order-block__body
              .alert.alert-danger(style='display: none;')
              +pageSubsection(class= gridClasses()).bx-soa-pp
                +grid(class= cellClasses({ l: 7, m: 7, xs: 12 })).bx-soa-pp-item-container
                  +cell({ m: 4, s: 4, xs: 6 }).bx-soa-pp-company.order-payment-type
                    label.bx-soa-pp-company-graf-container.order-payment-type__image
                      input#ID_PAY_SYSTEM_ID_2.order-payment-type__checkbox.bx-soa-pp-company-checkbox(name='PAY_SYSTEM_ID' type='checkbox' value='2')
                      +img({
                        name: 'order-payment-type-1',
                        path: '/images/',
                        formats: [
                          { ext: 'webp', mime: 'image/webp' },
                          { ext: 'jpg', mime: 'image/jpeg', orig: true }
                        ],
                        density: [ { values: [ 1, 2 ] } ],
                      }).bx-soa-pp-company-image
                    .bx-soa-pp-company-smalltitle.order-payment-type__title Банковский перевод
                  +cell({ m: 4, s: 4, xs: 6 }).bx-soa-pp-company.order-payment-type
                    label.bx-soa-pp-company-graf-container.order-payment-type__image
                      input#ID_PAY_SYSTEM_ID_4.order-payment-type__checkbox.bx-soa-pp-company-checkbox(name='PAY_SYSTEM_ID' type='checkbox' value='4')
                      +img({
                        name: 'order-payment-type-2',
                        path: '/images/',
                        formats: [
                          { ext: 'webp', mime: 'image/webp' },
                          { ext: 'jpg', mime: 'image/jpeg', orig: true }
                        ],
                        density: [ { values: [ 1, 2 ] } ],
                      }).bx-soa-pp-company-image
                    .bx-soa-pp-company-smalltitle.order-payment-type__title Система быстрых платежей банка "ПСКБ"
                +cell({ m: 5, xs: 12 }).bx-soa-pp-desc-container
                  .order-payment-current.bx-soa-pp-company
                    .bx-soa-pp-company-subTitle.order-payment-current__title Система быстрых платежей банка "ПСКБ"
                    .bx-soa-pp-company-logo.order-payment-current__image: .bx-soa-pp-company-graf-container
                      +img({
                        name: 'order-payment-type-2',
                        path: '/images/',
                        formats: [
                          {ext: 'webp', mime: 'image/webp'},
                          {ext: 'jpg', mime: 'image/jpeg', orig: true}
                        ],
                        density: [{values: [1, 2]}],
                      }).bx-soa-pp-company-image
                    .bx-soa-pp-company-block
                      .bx-soa-pp-company-desc
                .order-payment-current.bx-soa-pp-company-selected(class= cellClasses({ xs: 12 }))
                  .bx-soa-pp-company-subTitle.order-payment-current__title Система быстрых платежей банка "ПСКБ"
                  .bx-soa-pp-company-logo.order-payment-current__image: .bx-soa-pp-company-graf-container
                    +img({
                      name: 'order-payment-type-2',
                      path: '/images/',
                      formats: [
                        {ext: 'webp', mime: 'image/webp'},
                        {ext: 'jpg', mime: 'image/jpeg', orig: true}
                      ],
                      density: [{values: [1, 2]}],
                    }).bx-soa-pp-company-image
                  .bx-soa-pp-company-block
                    .bx-soa-pp-company-desc
              +pageSubsection.order-block__buttons.bx-soa-more: +grid({ justify: 'space-between' }).bx-soa-more-btn
                +button({ tag: 'a', size: 's' })(class= cellClasses({ l: 2, m: 3, xs: 6 }) href='javascript:void(0)') Назад
                +button({ tag: 'a', size: 's' })(class= cellClasses({ l: 2, m: 3, xs: 6 }) href='javascript:void(0)').order-block__next Далее
          // BUYER PROPS BLOCK
          #bx-soa-properties.bx-soa-section.bx-step-error.bx-active.bx-selected(data-visited='true').order-block.order__block
            +grid().order-block__title.bx-soa-section-title-container
              +cell({ tag: 'h2', s: 9, xs: 8 }).bx-soa-section-title
                span.bx-soa-section-title-count.order-block__count
                | Покупатель
              +cell({ s: 3, xs: 4 }).text-align--right
                a.bx-soa-editstep(href='' style='') изменить
            .bx-soa-section-content.order-block__body
              .alert.alert-danger.order-block__warning
                  | Поле "Название компании" обязательно для заполнения
                  br
                  | Поле "Контактное лицо" обязательно для заполнения
                  br
                  | Поле "E-Mail" обязательно для заполнения
              +pageSubsection(class= gridClasses())
                +cell({ l: 6, m: 8, s: 10, xs: 12 }).bx-soa-customer
                  .par.form-group.bx-soa-customer-field(data-property-id-row='1')
                    +formInput({ name: 'ORDER_PROP_1', label: '<span class="bx-authform-starrequired">*</span> Ф.И.О.' })
                  .par.form-group.bx-soa-customer-field(data-property-id-row='2')
                    +formInput({name: 'ORDER_PROP_2', type: 'email', label: '<span class="bx-authform-starrequired">*</span> E-Mail'})
                  .par.form-group.bx-soa-customer-field(data-property-id-row='3')
                    +formInput({name: 'ORDER_PROP_3', type: 'tel', label: '<span class="bx-authform-starrequired">*</span> Телефон'})
                  +formInput({name: 'ORDER_DESCRIPTION', type: 'textarea', label: '<span class="bx-authform-starrequired">*</span> Комментарии к заказу:'}).par
              +pageSubsection.order-block__buttons.bx-soa-more: +grid.bx-soa-more-btn
                +button({ tag: 'a', size: 's' })(class= cellClasses({ l: 2, m: 3, s: 4, xs: 6 }) href='javascript:void(0)') Назад
          #bx-soa-orderSave.order__block
            .checkbox
            +button({ tag: 'a' }).hidden-xs(href='javascript:void(0)' style='margin: 10px 0' data-save-button='true')
              | Оформить заказ
      +cartSummary(class= cellClasses({ l: 3, s: 6, xs: 12, alignSelf: 'flex-start' }))
block bottom
  +style('inner')
