extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/form-input/form-input
include /blocks/page-subsection/page-subsection

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная','Мой кабинет'],current:'Персональные данные'})
      h1 Профиль пользователя
      p
        strong Дата обновления: 22.09.2020 12:15:17
        br
        strong Последняя авторизация: 12.11.2020 20:12:35
      +grid().par
        +cell({tag: 'form', l: 4, m: 6, s: 8, xs: 12})
          +formInput({label: 'Имя:', type: 'text', name: 'USER_NAME', id: 'USER_NAME', value: 'Иванов'},).par
          +formInput({label: 'Фамилия:', type: 'text', name: 'USER_LAST_NAME', id: 'USER_LAST_NAME', value: 'Иван'},).par
          +formInput({label: 'Отчество:', type: 'text', name: 'USER_LAST_NAME', id: 'USER_LAST_NAME', value: 'Иванович'},).par
          +formInput({label: 'E-Mail:', type: 'email', name: 'USER_EMAIL', id: 'USER_EMAIL', required: true, value: 'test@test.test'},).par
          +formInput({label: 'Новый пароль:', type: 'password', name: 'USER_PASSWORD', id: 'USER_PASSWORD', required: true},).par
          +formInput({label: 'Подтверждение нового пароля:', type: 'password', name: 'USER_CONFIRM_PASSWORD', id: 'USER_CONFIRM_PASSWORD', required: true},).par
          +formInput({label: ['Нажимая на кнопку, я даю свое ', {tag: 'a', attr: {href: '/soglasheniya-na-obrabotku-personalnykh-dannykh/'}, content: 'согласие на обработку своих персональных данных'}], type: 'checkbox', name: 'register_agreement', id: 'register_agreement', checked: true, required: true, noReqMark: true},).par
          +grid.par
            +button({ size: 'm' })(name='save' class= cellClasses({ xs: 6 })) Сохранить
            +button({ size: 'm', secondary: true })(class= cellClasses({ xs: 6 })) Отмена
      p Пароль должен быть не менее 6 символов длиной.
      p
        span.required-mark *
        |  Обязательные поля
block bottom
  +style('inner')
