extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/availability/availability
include /blocks/product-header/product-header
include /blocks/product-benefits/product-benefits
include /blocks/page-subsection/page-subsection
include /blocks/product-subheader/product-subheader
include /blocks/list-unordered/list-unordered
include /blocks/document/document
include /blocks/product-price/product-price
include /blocks/product-actions/product-actions
include /blocks/tabs/tabs
include /blocks/properties/properties
include /blocks/review/review
include /blocks/modal/modal

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const benefits = [
      'Высокое качество готовой поверхности',
      'Низкий расход',
      'Высокая трещиностойкость',
      'Атмосферостойкость',
    ]
    const properties = [
      { name: 'Время полного высыхания', value: '5-7 суток' },
      { name: 'Расход сухой смеси при слое толщиной 10 мм', value: '10 кг на 1 кв. м.' },
      { name: 'Рекомендуемая толщина слоя для стен', value: '5-7 суток' },
      { name: 'Температура основания', value: 'от +5 °C до +30 °C' },
      { name: 'Вид фасовок', value: '25 кг' },
      { name: 'Количество на поддоне', value: '56 шт.' },
      { name: 'Расход воды на 1 кг сухой смеси', value: '0,47 - 0,57 л' },
      { name: 'Начало схватывания', value: 'не ранее 30 минут' },
      { name: 'Прочность на сжатие, МПа', value: 'не менее 2,0 МПа' },
    ]
    const reviews = [
      {
        title: 'Качество смеси не падает десятилетиями',
        body: '<p>Доброго времени суток уважаемые друзья, соратники по цеху и читатели моего отзыва. В этом отзыве пойдёт речь о самой известной штукатурной смеси на рынке России - про Ротбанд от торговой марки Кнауф.</p>',
        author: 'Александр',
      },
      {
        title: 'Хорошая штукатурка',
        body: '<p>Эту штукатурку нам посоветовал купить человек, который занимается ремонтами. Покупали мы пять мешков для комнаты площадью 13 кв. м., естественно что количество штукатурки зависит от ровноты стен, в нашем случае все было печально.</p>',
        author: 'Дмитрий',
      },
    ]
  +pageSection
    +breadcrumbs({ parents: [ 'Главная', 'Каталог', 'Сухие строительные смеси' ], current: 'Штукатурка' })
  +pageSection: +grid()
    +cell({ l: 5, m: 4, xs: 12 }): include /blocks/product-images/product-images
    +cell({ l: 7, m: 8, xs: 12 })
      +productHeader({ availability: false }) Штукатурка цементная, 50 кг.
      +productBenefits(benefits)
      p Сухая смесь, предназначенная для ручного и механизированного оштукатуривания стен и потолков из бетонных, кирпичных, газобетонных оснований при внутренних и наружных работах.
      +grid({ justify: 'center', alignItems: 'center' }).product-properties
        +cell({l: 9, xs: 12})
          +productSubheader Важные характеристики:
          +ul
            li Толщина слоя за одно нанесение – 2-30 мм
            li Температура эксплуатации – от -50 до +60 С
            li Максимальная фракция заполнитела– 0,63 мм
        +document(class=cellClasses({ l: 3, xs: 6 })) Декларация
      +productActions({ availability: false })
  +pageSection: +tabs({ swipe: true })
    +tab({name:'Характеристики'})
      +grid(): +properties(properties)(class=cellClasses({ l: 6, m: 8, s: 10, xs: 12 }))
    +tab({ name: 'Применение' })
      h2.visually-hidden Применение
      h3 Описание
      p Цементно-известковая сухая строительная смесь, состоящая из цемента, извести, мелкозернистого заполнителя и модифицирующих добавок. При смешивании с водой образует пластичную растворную смесь, удобную для нанесения и последующего заглаживания.
      h3 Подготовка основания
      p Основание должно быть твердым, очищенным от пыли и загрязнений. Температура основания должна находиться в пределах от +5 °С до +30 °С. Сильно-впитывающее основание следует загрунтовать. На гладкое основание необходимо нанести насечки. Подготовленное основание должно быть увлажнённое, но не мокрое.
      h3 Подготовка основания
      p Основание должно быть твердым, очищенным от пыли и загрязнений. Температура основания должна находиться в пределах от +5 °С до +30 °С. Сильно-впитывающее основание следует загрунтовать. На гладкое основание необходимо нанести насечки. Подготовленное основание должно быть увлажнённое, но не мокрое.
      h3 Приготовление растворной смеси
      p Материал готовить в отдельной ёмкости с применением специального оборудования или в растворосмесителе.
      p Запрещается приготавливать смесь в миксере гравитационного типа.
      p В ёмкость с заранее дозированным минимальным количеством чистой воды засыпать сухую смесь и перемешать в течении 2-3 минут до получения однородной смеси, оставить растворную смесь на 5 минут для растворения функциональных добавок и снова перемешать. При необходимости добавить воду до получения нужной консистенции.
      p Количество воды для затворения может отличаться от расчетного.
      h3 Порядок проведения работ
      p При ручном нанесении готовая смесь наносится на поверхность при помощи мастерка. При машинном нанесении готовая растворная смесь наносится набрызгом и выравнивается правилом.
      p Для создания необходимого слоя следует предварительно устанавливать маяки. Толщина слоя от 5 до 15 мм по бетону и железобетону, и от 5 до 25 мм по кирпичу.
    +tab({ name: 'Как купить' })
      h2.visually-hidden Как купить
      p Для покупки товара в нашем интернет-магазине выберите понравившийся товар и добавьте его в корзину или нажмите "Купить в 1 клик".
      p При клике "Купить в 1 клик" потребуется указать ваш телефон. Вам перезвонит менеджер и уточнит условия заказа.
      p В случае добавления товара в корзину, перейдите в "Корзину" и нажмите на «Оформить заказ».
      p Оформление заказа в стандартном режиме выглядит следующим образом. Заполняете полностью форму по последовательным этапам: тип плательщика, данные о себе, способ оплаты. Советуем в комментарии к заказу написать информацию, которая для вас важна. Нажмите кнопку «Оформить заказ».
    +tab({ name: 'Оплата' })
      h2.visually-hidden Оплата
      h3 Для юридических лиц
      h4 Через систему быстрых платежей
      p Оплата на сайте, а также на складе или в офисе принимается через систему быстрых платежей ПСКБ банка.
      h4 Оплата по счету
      p Оплата производится по выставленному счета после связи с менеджером, тел: (812) 414-97-93. Для выставления счета, отправьте, пожалуйтса, свои реквизиты на почту: 
        a(href='mailto:mainsale@tdunicom.ru') mainsale@tdunicom.ru
      h3 Для физических лиц
      h4 Онлайн оплата на сайте
      p Частное лицо может оплатить заказ только онлайн на сайте. Оплата в офисе для частных лиц не доступна.
      p: a(href='/') Подробнее о методах оплаты
    +tab({ name: 'Доставка' })
      h2.visually-hidden Доставка
      h3 Собственным транспортом
      p
        | Доставляем по Северо-Западу, Санкт-Петербургу и Ленинградской области!
        br
        | Работаем с частными и юридическими лицами.
        br
        | Доставка возможна для опта и розницы от 1 тонны.
        br
        | Осуществляем доставку любыми видами автомобильного транспорта, в том числе манипуляторами и цементовозами.
      h4 Стоимость доставки
      p Возможность и стоимость доставки сухих строительных смесей в ваш район можно узнать, связавшись с нашими менеджерами по телефонам: 
        strong +7 (812) 414-97-93
        |  (для юр. лиц и ИП) или 
        strong +7 (812) 414-97-82
        |  (для физ. лиц)
      h3 Транспортной компанией Грузовичков
      p Для уточнения стоимости доставки, пожалуйста, воспользуйтесь калькулятором на 
        a(href='/') сайте
        |  транспортной компании.
      p: a(href='/') Подробнее о способах доставки
    +tab({ name: 'Отзывы' })
      h2.visually-hidden Отзывы
      +pageSubsection: each review in reviews
        +review({ title: review.title, author: review.author }) !{review.body}
      +pageSubsection(class=gridClasses()): +button({ tag: 'a', size: 'm' })(href='#modal-comment' class=cellClasses({ l: 3, m: 4, s: 6, xs: 12 }) data-modal) Оставить отзыв
block modals
  include /blocks/modal-quick-buy/modal-quick-buy
  include /blocks/modal-calculate/modal-calculate
  include /blocks/modal-comment/modal-comment
  include /blocks/modal-add-to-cart/modal-add-to-cart
block bottom
  +style('inner')
  +style('glightbox')
