extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    +breadcrumbs({ parents:[ 'Главная' ], current: 'Регистрация' })
    h1 Регистрация
  +pageSection
    +grid().par: +cell({ tag: 'form', l: 6, s: 10, xs: 12 })
      +formInput({label: 'Имя:', type: 'text', name: 'USER_NAME', id: 'USER_NAME'}).par
      +formInput({label: 'Фамилия:', type: 'text', name: 'USER_LAST_NAME', id: 'USER_LAST_NAME'}).par
      +formInput({label: '<span class="required-mark">*</span> Логин (мин. 3 символа):', type: 'text', name: 'USER_LOGIN', id: 'USER_LOGIN',}).par
      +formInput({label: '<span class="required-mark">*</span> Пароль:', type: 'password', name: 'USER_PASSWORD', id: 'USER_PASSWORD', required: true}).par
      +formInput({label: '<span class="required-mark">*</span> Подтверждение пароля:', type: 'password', name: 'USER_CONFIRM_PASSWORD', id: 'USER_CONFIRM_PASSWORD', required: true}).par
      +formInput({label: '<span class="required-mark">*</span> E-Mail:', type: 'email', name: 'USER_EMAIL', id: 'USER_EMAIL', required: true}).par
      +formInput({label: ['Нажимая на кнопку, я даю свое ', {tag: 'a', attr: {href: '/soglasheniya-na-obrabotku-personalnykh-dannykh/'}, content: 'согласие на обработку своих персональных данных'}], type: 'checkbox', name: 'register_agreement', id: 'register_agreement', checked: true, required: true, noReqMark: true}).par
      +button({ type: 'submit', size: 's' }).par Регистрация
    p Пароль должен быть не менее 6 символов длиной.
    p
      span.required-mark *
      |  Обязательные поля
    p: a(href='/login/?login=yes&backurl=%2Flogin%2F') Авторизация
block bottom
  +style('inner')
