extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/form-input/form-input
include /blocks/search-result/search-result

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    +breadcrumbs({ parents:[ 'Главная' ], current: 'Поиск по сайту' })
    h1 Результаты поиска
  +pageSection
    +pageSubsection
      +grid(): +grid({ tag: 'form' })(class= cellClasses({ l: 8, m: 10, xs: 12 }))
        +formInput({ type: 'text' })(class= cellClasses({ m: 9, s: 7, xs: 12 }))
        +button({ type:'submit', size: 's' })(class= cellClasses({ m: 3, s: 5, xs: 12 })) Найти
    +pageSubsection
      -
        const searchResults = [
          {
            name: 'Расшифровка кт зубов, что показывает кт зуба? | Статьи', 
            path: { parents: [ 'Главная' ], current: 'О клинике' },
            body: 'Что показывает КТ зуба? 3D-снимок зубов. Компьютерная томография челюсти, являясь уникальным и максимально информативным методом диагностики, показывает полную картину...',
          },
          {
            name: 'Можно ли делать компьютерную томографию с брекетами?', 
            path: { parents: [ 'Главная' ], current: 'О клинике' },
            body: 'Особенности исследования челюсти методом ортодонт кт (компьютерной томографии) при наличии брекетов. Противопоказания.',
          },
          {
            name: 'КТ или мрт пазух носа что лучше? КТ носовых, придаточных...', 
            path: { parents: [ 'Главная' ], current: 'О клинике' },
            body: 'Что лучше показывает КТ или МРТ носовых пазух? Компьютерная томограмма пазух носа. Компьютерная томография пазух носа позволяет изучить послойное строение этого участка...',
          },
          {
            name: 'Делать ли кт или рентген при гайморите? Покажет ли кт фронтит...', 
            path: { parents: [ 'Главная' ], current: 'О клинике' },
            body: 'Компьютерная томография при гайморите. Гайморит — это воспаление гайморовой (верхнечелюстной) пазухи. КТ при гайморите — основной метод диагностики заболевания...',
          },
          {
            name: 'Можно ли делать кт с кохлеарным имплантом зубов...', 
            path: { parents: [ 'Главная' ], current: 'О клинике' },
            body: 'Особенности исследования челюсти посредством кт (компьютерной томографии) при наличии кохлеарных имплантов зубов, металлических коронок и штифтов. Противопоказания.',
          },
          {
            name: 'Наращивание костной ткани при имплантации зубов: цены...', 
            path: { parents: [ 'Главная' ], current: 'О клинике' },
            body: 'Собственная зуботехническая лаборатория. Компьютерная томография зубов и пазух носа.',
          },
          {
            name: 'Компьютерная томография (КТ) пазух носа в Санкт-Петербурге', 
            path: { parents: [ 'Главная' ], current: 'О клинике' },
            body: 'КТ пазух носа в Санкт-Петербурге в стоматологической клинике ВайтДент, недорогие снимки компьютерной томографии околоносовых и придаточных пазух в Василеостроовском районе.',
          },
          {
            name: 'Поднятие дна гайморовой пазухи: цены на операцию...', 
            path: { parents: [ 'Главная' ], current: 'О клинике' },
            body: 'Компьютерная томография зубов и пазух носа.',
          },
          {
            name: 'Консервативное лечение кисты зуба медикаментозно...', 
            path: { parents: [ 'Главная' ], current: 'О клинике' },
            body: 'Компьютерная томография зубов и пазух носа.',
          },
          {
            name: 'Коронки на передние зубы: цена, поставить коронки на передние...', 
            path: { parents: [ 'Главная' ], current: 'О клинике' },
            body: 'Можно ли делать компьютерную томографию (КТ) с имплантами, штифтами, коронками?',
          },
        ]
      +grid({}): +cell({ l: 8, m: 10, xs: 12 })
        each result in searchResults
          +searchResult(result)
  +pageSection
    +pageSubsection: include /blocks/pagination/pagination
    +pageSubsection
      p
        b Отсортировано по релевантности
        | &nbsp;|&nbsp;
        a(href="/search/?q=%D0%B2%D1%80%D0%B0%D1%87&amp;where=&amp;how=d") Сортировать по дате
block bottom
  +style('inner')
