mixin cartSummary(settings = {})
  div(class= classes('cart-summary', settings))&attributes(attributes)
    .cart-summary__description Итого:
    .cart-summary__value !{priceFormat(6000)} ₽
    +button({ size: 'm' }).cart-summary__button Оформить заказ
