.cart-summary
  position sticky
  top 0
  display grid
  grid-template-areas 'description value' 'button button'
  grid-template-columns min-content auto
  grid-gap basePadding
  padding basePadding
  border 1px solid var(--color-border)
  border-radius .25rem
  &--no-sticky
    position static
  &__description
    grid-area description
    align-self end
  &__value
    grid-area value
    justify-self end
    font-weight bold
    @media (min-width point-m)
      $text-title-28-32()
    @media (max-width point-m - 1)
      $text-title-20-28()
  &__button
    @media (min-width point-xl)
      $text-title-20-28()
    @media (max-width point-xl - 1)
      $text-button()
    grid-area button
