mixin rangeItem(item = {})
  a(href='/').range-item&attributes(attributes)
    +img({
      name: item.image,
      path: '/images/',
      formats: [
        { ext: 'jpg', mime: 'image/jpeg', orig: true },
        { ext: 'webp', mime: 'image/webp' },
      ],
      density: [{ values: [1, 2 ] }]
    })(alt=item.name title=item.name decoding='async' lazyload='true').range-item__image
    .range-item__name !{item.name}
      if item.clarification
        .range-item__clarification !{item.clarification}
