.range-item
  text-decoration none
  &__image
    width 100%
  &__name
    $text-title-18-24()
    position relative
    margin-top -3.5rem
    width fit-content
    min-width 14.5rem
    padding 1rem
    padding-right 2rem
    font-weight 600
    color var(--color-bg-primary)
    background-color var(--color-accent-secondary)
    mask-image linear-gradient(-135deg, transparent 1rem, #fff 1rem)
    mask-size 100%
    mask-repeat no-repeat
  &__clarification
    margin-top 0.5rem
    $text-small()
  &__list
    $text-small()
    color var(--color-bg-primary)
    li
      position relative
      padding-left 1rem
      &::before
        content ''
        position absolute
        top .4rem
        left 0
        width .375rem
        height .375rem
        background-color var(--color-bg-primary)
        border-radius 50%
      & + li
        margin-top .25rem
