a
  color var(--color-text-link)
  transition color .4s
  &:hover
    color var(--color-text-link-hover)
    transition-duration .1s
  &:active
    color var(--color-text-link-active)
    transition-duration .1s
