mixin profileItem(item)
  - let iconModifier = item.icon ? `profile-item--${item.icon}` : ''
  a.profile-item(href != item.href class != iconModifier)&attributes(attributes)
    .profile-item__name !{item.name}
