.profile-item
  --icon-mask-image url('')
  --icon-background-color var(--color-accent-primary)
  --transition-duration .4s
  position relative
  display block
  height 100%
  padding 12rem (basePadding*2) (basePadding*2)
  font-size font-xl
  text-align center
  text-decoration none
  color #000
  background-color var(--color-bg-light)
  background-repeat no-repeat
  background-position center 3rem
  background-size 6rem
  transition background-color var(--transition-duration)
  &:hover
    --icon-background-color var(--color-accent-primary-hover)
    --transition-duration .1s
    color #000
    background-color var(--color-bg-primary)
  &::before
    content ''
    position absolute
    top 3rem
    left 50%
    width 6rem
    height 6rem
    background-color var(--icon-background-color)
    mask-image var(--icon-mask-image)
    transform translateX(-50%)
    transition background-color var(--transition-duration)
  &--current-orders
    --icon-mask-image url(../images/svg-sprites/personal.svg#current-orders)
  &--user
    --icon-mask-image url(../images/svg-sprites/personal.svg#user)
  &--orders
    --icon-mask-image url(../images/svg-sprites/personal.svg#orders)
  &--cart
    --icon-mask-image url(../images/svg-sprites/personal.svg#cart)
