.cart
  position relative
  display flex
  flex-direction column
  justify-content center
  min-height 3.25rem
  padding-y .625rem
  padding-right 1.25rem
  padding-left 2.625rem
  border 1px solid var(--color-border)
  &__count
    font-size .75rem
    font-weight 600
    line-height 1
  &__summary
    $text-small()
    font-weight 600
  &__empty
    font-size .75rem
    line-height 1
