mixin cart(cart)
  a(href='/').cart&attributes(attributes)
    if (cart)
      .cart__count !{cart.count} товар
      .cart__summary на сумму !{priceFormat(cart.sum)} ₽
    else
      .cart__empty В корзине пусто
