.cart
  text-decoration none
  border-radius .25rem
  &::before
    content ''
    position absolute
    top .625rem
    left .625rem
    width 1.5rem
    height 1.5rem
    background-color var(--color-accent-primary)
    mask-image url(../images/svg-sprites/button.svg#cart)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
  &__count
    color var(--color-text-secondary)
  &__summary
    color var(--color-accent-primary)
  &__empty
    color var(--color-text-secondary)
