.order-payment-type
  &__image
    position relative
    display block
    padding-top 50%
    img
      position absolute
      top .125rem
      left .125rem
      width calc(100% - .25rem)
      height calc(100% - .25rem)
      object-position center
      object-fit contain
      border 1px solid var(--color-border)
  &__checkbox
    display none
    &:checked + picture img
      border-color var(--color-accent-secondary)
  &__title
    $text-small()
    margin-top .25rem
    text-align center
    color var(--color-text-secondary)
