include /blocks/modal/modal
include /blocks/form-input/form-input

+modal.modal-comment#modal-comment
  form.modal-calculate__form.form
    h2 Оставить отзыв
    +formInput({ type: 'text', placeholder: 'Имя', name: 'name', required: true }).par
    +formInput({ type: 'email', placeholder: 'E-mail', name: 'email', required: true }).par
    +formInput({ type: 'text', placeholder: 'Тема отзыва', name: 'topic', required: true }).par
    +formInput({ type: 'textarea', placeholder: 'Текст отзыва', name: 'comment', required: true }).par
    +button({size: 's'})(type='submit').modal-calculate__submit.form__submit.par Добавить
