.order-product
  display grid
  grid-template-columns 5rem 3fr repeat(2, 1fr)
  grid-template-areas 'image title count price'
  grid-column-gap 2.5rem
  @media (max-width point-m - 1)
    grid-template-columns  3rem repeat(2, auto) 1fr
    grid-template-areas 'image title title title' 'image count price .'
  &__image
    grid-area image
    img
      width 5rem
      height 5rem
      object-fit contain
      object-position center
      background-color var(--color-bg-light)
  &__title
    $text-title-18-24()
    grid-area title
    font-weight bold
  &__detail
    --title-font-weight normal
    justify-self end
    text-align right
    &--count
      grid-area count
    &--price
      grid-area price
      --title-font-weight bold
  &__detail-title
    $text-small()
    margin-top .5rem
    color var(--color-text-secondary)
  &__detail-value
    $text-title-18-24()
    font-weight var(--title-font-weight)
