mixin orderProduct(item)

  .order-product&attributes(attributes)
    a(href='/').order-product__image: +img({
      name: item.image,
      path: '/images/',
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'jpg', mime: 'image/jpeg', orig: true }
      ],
      density: [ { values: [ 1, 2 ] } ],
    })(alt= item.name title= item.name width=80 height=80)
    a(href='/catalog/sukhie-stroitelnye-smesi/shtukaturka/test.html').order-product__title Тестовый товар
    .order-product__detail.order-product__detail--count
      .order-product__detail-title Количество
      .order-product__detail-value !{item.count} шт
    .order-product__detail.order-product__detail--price
      .order-product__detail-title Сумма
      .order-product__detail-value !{priceFormat(item.count * item.price)} ₽
