.phone
  display flex
  flex-wrap wrap
  align-items baseline
  column-gap .675rem
  &__number
    $text-title-18-24()
    font-weight 600
    &--white
      color var(--color-bg-primary)
  &__description
    font-size .875rem
    line-height 1.125rem
    color var(--color-text-secondary)
