mixin phone(item = {})
  .phone&attributes(attributes)
    div(class=`phone__number phone__number--${item.color}`) !{item.number}
    if item.description
      .phone__description !{item.description}
