include /blocks/counter/counter
include /blocks/availability/availability
include /blocks/product-price/product-price

mixin catalogProduct(product)
  .catalog-product&attributes(attributes)
    a(href='/').catalog-product__image: +img({
      name: product.image,
      path: '/images/',
      formats: [
        {ext: 'jpg', mime: 'image/jpeg', orig: true},
        {ext: 'webp', mime: 'image/webp'},
      ],
      density: [{values: [1, 2]}]
    })(alt= product.name title= product.name width=270 height=390)
    a(href='/').catalog-product__name !{product.name}
    +availability({ notAvailable: product.availability === false }).catalog-product__availability
    +counter.catalog-product__counter
    +productPrice(product.price, { small: true }).catalog-product__price
    .product-item-info-container: .product-item-button-container
      +button({ tag: 'a', icon: [ true, 'cart' ], size: 'm', disabled: product.availability === false })(href='#').catalog-product__buy В корзину
      - const fastBuyClasses = classes('catalog-product__fast-buy', { disabled: product.availability === false })
      a(href='#modal-quick-buy' data-modal class= fastBuyClasses) Купить в 1 клик
