.catalog-product
  display grid
  @media (min-width point-m)
    grid-template-areas 'image image' 'name name' 'availability counter' 'price buy' '. fast-buy'
    grid-template-rows auto 1fr repeat(3, auto)
    grid-template-columns auto auto
    grid-gap .625rem
  @media (max-width point-m - 1)
    grid-template-areas 'image name' 'image availability' 'image price' 'image counter' 'image buy' 'image fast-buy'
    grid-template-columns 2fr 3fr
    grid-gap .625rem 1.25rem
  &__image
    grid-area image
    & img
      width 100%
      height auto
      object-fit contain
      object-position center
  &__name
    --color-text-link var(--color-text-primary)
    --color-text-link-hover var(--color-text-primary)
    --color-text-link-active var(--color-text-primary)
    grid-area name
    font-weight 600
    text-decoration none
    @media (min-width point-m)
      $text-title-18-24()
    @media (max-width point-m - 1)
      $text-paragraph()
  &__availability
    $text-small()
    grid-area availability
    align-self center
  &__counter
    grid-area counter
  &__price
    grid-area price

  &__buy
    grid-area buy
  &__fast-buy
    $text-button()
    grid-area fast-buy
    font-weight 600
    text-align center
    &--disabled
      color var(--color-text-secondary)
      pointer-events none
  .product-item-info-container
  .product-item-button-container
    display contents
