.popup-window
  position relative
  padding basePadding
.popup-window-titlebar-text
  display block
  margin-bottom 1rem
  font-weight bold
  text-align center
.popup-window-content > div
  display flex
  flex-direction column
  align-items center
  gap .5rem
.popup-window-buttons
  display flex
  justify-content center
.btn-buy
  margin-top 1rem
  padding .5rem 1rem
.popup-window-titlebar-close-icon
  position absolute
  top .625rem
  right .625rem
  width 1.25rem
  height 1.25rem
  background-color var(--color-text-link)
  border none
  mask-image url(../images/svg-sprites/common.svg#close)
  mask-repeat no-repeat
  mask-position center
  mask-size cover
  cursor pointer
  transition background-color .4s
  &:hover
    background-color var(--color-text-link-hover)
    transition-duration .1s
