.popup-window
  #popup-window-titlebar-CatalogElementBasket_bx_117848907_1382.popup-window-titlebar
    span.popup-window-titlebar-text Товар добавлен в корзину
  #popup-window-content-CatalogElementBasket_bx_117848907_1382.popup-window-content(style='background-color: white;')
    div(style='width: 100%; margin: 0; text-align: center;')
      img(src='/images/product-image@2x.webp' height='130' style='max-height:130px')
      p Тестовый товар
  span.popup-window-close-icon.popup-window-titlebar-close-icon
  .popup-window-buttons
    span.btn.btn-default.btn-buy.btn-sm(id='') Перейти в корзину
