.cart-list
  @media (min-width point-m)
    display grid
    grid-template-columns 10rem 1fr repeat(4, fit-content(10rem)) min-content
    grid-auto-rows auto 1fr auto
    grid-gap basePadding (basePadding * 2)
    align-items start
    padding (basePadding)
    border-radius .25rem
    border 1px solid var(--color-border)
  &__item
    @media (min-width point-m)
      display contents
    @media (max-width point-m - 1)
      display grid
      align-content start
      grid-template-areas 'border border border' 'image name name' 'image price total' 'image counter counter' 'image remove remove'
      grid-template-columns 2fr 3fr
      grid-gap .625rem 1.25rem
    & + &
      @media (min-width point-m)
        --item-after-contents ''
      @media (max-width point-m - 1)
        margin-top (basePadding)
        padding-top (basePadding)
        border-top 1px solid var(--color-border)
    &::before
      @media (min-width point-m)
        content var(--item-after-contents, none)
        display block
        grid-column-start 1
        grid-column-end -1
        height 1px
        background-color var(--color-border)
    &--deleted
      @media (min-width point-m)
        display grid
        grid-column-start 1
        grid-column-end -1
        & ^[-2]__deleted-info
          margin-top basePadding
          margin-bottom (basePadding / 2)
  &__name
    --color-text-link var(--color-text-primary)
    --color-text-link-hover var(--color-text-primary)
    --color-text-link-active var(--color-text-primary)
    font-weight 600
    text-decoration none
    @media (min-width point-m)
      $text-title-18-24()
      grid-column-start 2
      grid-column-end -1
    @media (max-width point-m - 1)
      $text-paragraph()
      grid-area name
  &__image
    @media (min-width point-m)
      grid-row span 2
    @media (max-width point-m - 1)
      grid-area image
    & img
      width 100%
      height auto
      object-fit contain
      object-position center
  &__price-value
    @media (min-width point-m)
      grid-column-start 3
      grid-column-end 4
    @media (max-width point-m - 1)
      grid-area price
  &__price-total
    @media (max-width point-m - 1)
      grid-area total
      align-self end
  &__counter
    @media (max-width point-m - 1)
      grid-area counter
  &__remove
    border none
    @media (min-width point-m)
      width 1.5rem
      height 1.5rem
      background-color var(--color-accent-primary)
      mask-image url(../images/svg-sprites/rest.svg#cross)
      mask-repeat no-repeat
      mask-position center
      mask-size 1rem
      transition background-color .4s
      &:hover
        background-color var(--color-accent-primary-hover)
      transition-duration .1s
    @media (max-width point-m - 1)
      $text-paragraph()
      grid-area remove
      justify-self start
      text-align left
      text-decoration underline
      text-decoration-style dotted
      color var(--color-accent-primary)
      background-color transparent
      span
        color inherit
