include /blocks/counter/counter
include /blocks/product-price/product-price

mixin cartList(list)
  .cart-list&attributes(attributes)
    each item in list
      if !item.deleted
        .cart-list__item
          a(href='/').cart-list__image: +img({
            name: item.image,
            path: '/images/',
            formats: [
              {ext: 'jpg', mime: 'image/jpeg', orig: true},
              {ext: 'webp', mime: 'image/webp'},
            ],
            density: [{values: [1, 2]}]
          })(alt= item.name title= item.name width=270 height=390)
          a(href='/').cart-list__name !{item.name}
          +productPrice(item.price, {xSmall: true}).cart-list__price-value
          +counter({}, item.count).cart-list__counter
          +productPrice(item.price * item.count, {small: true, noDescription: true}).cart-list__price-total
          button(type='button').cart-list__remove: span.hidden-hd.hidden-xl.hidden-l.hidden-m Удалить
      else
        .cart-list__item.cart-list__item--deleted
          .cart-list__deleted-info Товар 
            strong !{item.name}
            |  был удален из корзины.
          a(href='#').cart-list__deleted-restore Восстановить
