include /blocks/logo/logo
include /blocks/phone/phone
include /blocks/button/button
include /blocks/cart/cart
include /blocks/header-user/header-user
include /blocks/header-navigation/header-navigation
include /blocks/search/search

header.header
  -
    const navigation = [
      { name: 'Каталог', href: '/', sublist: [
          { name: 'Сухие строительные смеси', settings : { title: true } },
          { name: 'Штукатурки', href: '/', active: true, settings: { icon: [ true, 'plaster' ] } },
          { name: 'Клеи', href: '/', settings: { icon: [ true, 'glue' ] } },
          { name: 'Кладочная смесь', href: '/', settings: { icon: [ true, 'brickwork' ] } },
          { name: 'ЦПС', href: '/', settings: { icon: [ true, 'cement' ] } },
          { name: 'Сухой песок', settings : { title: true } },
          { name: 'Сухой песок', href: '/', settings: { icon: [ true, 'dry-sand' ] } },
        ], settings: { catalog: true } },
      { name: 'Покупателям', href: '/', active: true, sublist: [
          { name: 'Покупателям', href: '/', active: true },
          { name: 'Оплата', href: '/' },
          { name: 'Доставка', href: '/' },
          { name: 'Контакты', href: '/' },
        ],
      },
      { name: 'Оплата', href: '/' },
      { name: 'Доставка', href: '/' },
      { name: 'Контакты', href: '/' },
    ]
  .container.header__top: .content.header__inner
    +logo.header__logo
    .header__name Сухие строительные смеси
      br
      | в розницу по ценам от производителя
    .header__contacts.hidden-m.hidden-s.hidden-xs
      +phone({ number: '+7 (812) 414-97-93' }).header__phone
      //- +phone({ number: '+7 (812) 414-97-82', description: 'для физ. лиц' }).header__phone
      +button({ tag: 'a', size: 's' })(href='#call-back' data-modal).header__callback Заказать звонок
    .header__user-cart.hidden-m.hidden-s.hidden-xs
      +headerUser(alternateHeader).header__user
      +cart(!alternateHeader ? { count: '1', sum: 2869 } : false).header__cart
  .container.header__bottom: .content.header__inner
    button(type='button').header__switcher.hidden-l.hidden-xl.hidden-hd
    .header__menu
      button(type='button').header__close.hidden-l.hidden-xl.hidden-hd
      +headerNavigation(navigation).header__navigation
      +search.header__search
      a(href='#call-back' data-modal).header__callback-mobile.hidden-l.hidden-xl.hidden-hd
      +headerUser(alternateHeader).header__user-mobile.hidden-l.hidden-xl.hidden-hd
      .header__contacts-mobile.hidden-l.hidden-xl.hidden-hd
        +phone({number: '+7 (812) 414-97-93', description: 'для юр. лиц и ИП'}).header__phone
        +phone({number: '+7 (812) 414-97-82', description: 'для физ. лиц'}).header__phone
    +phone({number: '+7 (812) 414-97-82', color: 'white'}).header__phone.hidden-l.hidden-xl.hidden-hd
    //- a(href='/').header__logo-mobile.hidden-l.hidden-xl.hidden-hd
    a(href='/').header__cart-mobile.hidden-l.hidden-xl.hidden-hd
      if (!alternateHeader)
        .header__cart-mobile-counter 10
