.header
  &__inner
    display flex
    justify-content space-between
    align-items center
    gap (basePadding * 2)
    ^[-1]__top &
      padding-y (basePadding / 1.25)
      @media(max-width point-l - 1)
        gap (basePadding / 2)
  &__logo
    flex-shrink 0
  &__name
    $text-title-18-24()
    width fit-content
    max-width 100%
    font-weight 600
    @media(max-width point-l - 1)
      text-align center
      font-size 1rem
  &__contacts
    display flex
    flex-direction column
    align-items center
  &__callback
    width fit-content
    max-width 100%
    margin-top .625rem
  &__cart
    width 12rem
    max-width 100%
  &__bottom
    position relative
    @media (max-width point-l - 1)
      padding-y 1.25rem
  &__menu
    display flex
    flex-grow 1
    justify-content space-between
    align-items center
    gap (basePadding * 2)
    @media (max-width point-l - 1)
      display none
  &__switcher
    width 2.5rem
    height 2.5rem
  &__close
    width 2.5rem
    height 2.5rem
    margin-left 1.25rem
    @media (max-width point-l - 1)
      grid-area close
  &__logo-mobile
    width 5.5rem
    height 2.5rem
  &__cart-mobile
    position relative
    width 2.5rem
    height 2.5rem
  &__cart-mobile-counter
    $text-small()
    position absolute
    top -.25rem
    right -.25rem
    z-index 2
    display flex
    justify-content center
    align-items center
    width 1.5rem
    height 1.5rem
  &__search
    width 100%
    max-width 16.875rem
    @media (max-width point-l - 1)
      grid-area search
      width calc(100% - 1.25rem)
      max-width unset
      margin-right 1.25rem
  &__navigation
    @media (max-width point-l - 1)
      grid-area nav
  &__user-mobile
    @media (max-width point-l - 1)
      grid-area user
      justify-self end
      margin-x 1.25rem
  &__callback-mobile
    width 2.5rem
    height 2.5rem
    @media (max-width point-l - 1)
      grid-area callback
      margin-left 1.25rem
  &__contacts-mobile
    @media (max-width point-l - 1)
      grid-area contacts
      margin 1.25rem
      margin-top 0
      padding-top 1.25rem
