.header
  &__bottom
    background-color var(--color-bg-secondary)
    border-top 3px solid var(--color-accent-primary)
  &__menu
    @media (max-width point-l - 1)
      position absolute
      top 0
      left 0
      width 100vw
      height 100vh
      z-index 20
      grid-template-areas 'close search' 'callback user' 'nav nav' 'contacts contacts'
      grid-template-columns min-content 1fr
      grid-auto-rows min-content
      grid-gap 1.25rem
      padding-top 1.25rem
      padding-bottom 5rem
      overflow-y auto
      background-color var(--color-bg-primary)
      transform translateX(100%)
      &--active
        transform translateX(0)
        transition-duration .1s
  &__switcher
    background-color var(--color-bg-primary)
    border none
    mask-image url(../images/svg-sprites/common.svg#menu)
    mask-repeat no-repeat
    mask-position center
    mask-size 2.25rem
  &__close
    background-color var(--color-text-primary)
    border none
    mask-image url(../images/svg-sprites/common.svg#close)
    mask-repeat no-repeat
    mask-position center
    mask-size 3rem
  &__logo-mobile
    background-image url(../images/svg-sprites/common.svg#logo)
    background-repeat no-repeat
    background-position center
  &__cart-mobile
    &::before
      content ''
      position absolute
      inset 0
      z-index 1
      background-color var(--color-bg-primary)
      mask-image url(../images/svg-sprites/button.svg#cart)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
  &__cart-mobile-counter
    color var(--color-bg-primary)
    background-color var(--color-accent-primary)
    border-radius .75rem
  &__callback-mobile
    background-color var(--color-accent-primary)
    mask-image url(../images/svg-sprites/common.svg#tel)
    mask-repeat no-repeat
    mask-position center
    mask-size 3rem
  &__contacts-mobile
    @media (max-width point-l - 1)
      border-top 1px solid var(--color-border)
