.form
  position relative
  z-index 1
  &--sending
    & ^[-1]__submit
      position relative
      &::before
      &::after
        content ''
        position absolute
        inset -1px
        background-color var(--color-border)
        opacity .25
      &::after
        opacity .5
        transform-origin 0 0 0
        animation-name formButtonLoading
        animation-duration .4s
        animation-iteration-count infinite
  &__message
    position absolute
    inset 0
    z-index 2
    padding-right 1.125rem
    background-color var(--color-bg-primary)
  &__message-close
    $text-small()
    display block
    margin-top 1.25rem
    margin-x auto
    padding 0
    text-decoration underline
    text-decoration-style dotted
    color var(--color-text-link)
    background-color transparent
    border none
    cursor pointer
    transition color .4s
    &:hover
      color var(--color-text-link-hover)
      transition-duration .1s
@keyframes formButtonLoading
  from
    transform scaleX(0)
  to
    opacity 0
    transform scaleX(1)
.yandex-captcha
  position relative
  height 100px
  min-height 100px
  margin 24px 0
