.order-payment-current
  padding 1.25rem
  background-color var(--color-bg-light)
  border 1px solid var(--color-border)
  &__title
    $text-small()
    font-weight bold
  &__image
    margin-top .5rem
    img
      width 8rem
  &.bx-soa-pp-company-selected
    display flex
    padding 0
    background-color transparent
    border none
    & ^[-1]__title
      order 2
    & ^[-1]__image
      order 1
      margin-top 0
      img
        width 2rem
