&--icon
  --mask-image url('')
  & > a
    position relative
    padding-left 3.75rem
  & > a::before
    content ''
    position absolute
    top 50%
    left 1.25rem
    display inline-block
    width 1.5rem
    height 1.5rem
    margin-right .625rem
    background-color var(--color-accent-primary)
    mask-image var(--mask-image)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
    transform translateY(-50%)
  icons = 'plaster', 'glue', 'brickwork', 'cement', 'dry-sand'
  for icon in icons
    &--{icon}
      --mask-image url(unquote('../images/svg-sprites/common.svg#' + icon))
