.header-navigation
  --color-text-link var(--color-bg-primary)
  --color-text-link-hover var(--color-bg-primary)
  --color-text-link-active var(--color-bg-primary)
  --color-bg-item-hover #3e3e3e
  @media (max-width point-l - 1)
    --color-text-link var(--color-text-primary)
    --color-text-link-hover var(--color-text-primary)
    --color-text-link-active var(--color-text-primary)
  &__list
    &--sub
      --color-text-link var(--color-text-primary)
      --color-text-link-hover var(--color-text-primary)
      --color-text-link-active var(--color-text-primary)
      background-color var(--color-bg-primary)
      @media (min-width point-l)
        --color-bg-item-hover var(--color-bg-light)
        position absolute
        bottom 0
        left 0
        z-index 1000
        flex-direction column
        width max-content
        max-width 20rem
        transform translateY(100%)
        ^[-2]__item:hover &
          display flex
      @media (max-width point-l - 1)
        --color-bg-item-hover var(--color-bg-primary)
        position relative
        transform none
        ^[-2]__item--active &
          display block
          padding-left 1.25rem
  &__item
    & a
    & span
      text-decoration none
      transition background-color .4s
    &:hover > a
      background-color var(--color-bg-item-hover)
      transition-duration .1s
      @media (max-width point-l - 1)
        background-color var(--color-bg-primary)
    &--parent > a::after
      @media (min-width point-l)
        background-color var(--color-text-secondary)
        mask-image url(../images/svg-sprites/common.svg#dropdown)
        mask-repeat no-repeat
        mask-position center
        mask-size .75rem
    &--active
      // &:not(&--sub)
      //   @media (min-width point-m)
      //     --color-bg-item-hover #494949
      //     background-color var(--color-bg-item-hover)
      &^[-1]--sub
        --color-bg-item-hover var(--color-border)
        background-color var(--color-bg-item-hover)
    @import './header-navigation__item--catalog.styl'
    @import './header-navigation__item--icon.styl'
  &__opener
    @media (max-width point-l - 1)
      background-color var(--color-text-secondary)
      mask-image url(../images/svg-sprites/common.svg#dropdown)
      mask-repeat no-repeat
      mask-position center
      mask-size 1.25rem
      transition transform .4s
      ^[-1]__item--active &
        transform scaleY(-1)
        transition-duration .1s
