&--catalog
  @media (max-width point-l - 1)
    margin-bottom .5rem
    border 1px solid var(--color-border)
    border-right none
    border-left none
    & > a
      display none
    &:hover ^[-2]__list--sub
      display block
  &^[-1]--parent > a::after
    width 1.5rem
    height .875rem
    margin-left .625rem
    background-color var(--color-accent-primary)
    mask-image url(../images/svg-sprites/common.svg#menu)
    mask-size cover
    transform translateY(.125rem)
  & ^[-2]__list--sub
    flex-direction row
    flex-wrap wrap
    justify-content space-between
    max-width 21rem
    padding 1.25rem
    // padding-top 0
    @media (max-width point-l - 1)
      display block
  & ^[-2]__item--sub^[-2]__item--title
    width 100%
    & span
      padding-x 0
      padding-bottom .625rem
  & ^[-2]__item--sub-1 + ^[-2]__item--title
    padding-top 1.25rem
  & ^[-2]__item--sub^[-2]__item--icon a
    padding-y .375rem
    margin-right 0
    padding-left 2.5rem
    &::before
      left 0
    @media (max-width point-l - 1)
      width 100%
