.header-navigation
  $text-button()
  &__list
    display flex
    @media (max-width point-l - 1)
      flex-direction column
    &--sub
      display none
  &__item
    position relative
    & a
    & span
      display block
      padding 1.25rem
      @media (max-width point-l - 1)
        grid-area link
        padding-y .75rem
    & span
      padding 0
    &--parent
      @media (max-width point-l - 1)
        display grid
        grid-template-areas 'link opener' 'sub sub'
        grid-template-columns 1fr 3.75rem
    &--parent > a::after
      @media (min-width point-l)
        content ''
        display inline-block
        width .625rem
        height .625rem
        margin-left .25rem
    &--title span
      $text-title-18-24()
      font-weight 600
  &__opener
    @media (max-width point-l - 1)
      grid-area opener
      align-self center
      width 2.5rem
      height 2.5rem
